<template>
  <div :class="{'hidden':hidden}" class="pagination-container">
    <my-pagination
      :background="background"
      :current-page.sync="currentPage"
      :page-size.sync="pageSize"
      :layout="layout"
      :page-sizes="pageSizes"
      :total="total"
      v-bind="$attrs"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
import { scrollTo } from '@/utils/scroll-to';
import MyPagination from './components/pagination';

export default {
  name: 'Pagination',
  components: { MyPagination },
  props: {
    total: {
      required: true,
      type: Number,
    },
    page: {
      type: Number,
      default: 1,
    },
    limit: {
      type: Number,
      default: 20,
    },
    pageSizes: {
      type: Array,
      default() {
        return [10, 15, 20, 30, 50];
      },
    },
    layout: {
      type: String,
      default: 'first, prev, pager, next, last',
    },
    background: {
      type: Boolean,
      default: true,
    },
    autoScroll: {
      type: Boolean,
      default: true,
    },
    hidden: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    currentPage: {
      get() {
        return this.page;
      },
      set(val) {
        this.$emit('update:page', val);
      },
    },
    pageSize: {
      get() {
        return this.limit;
      },
      set(val) {
        this.$emit('update:limit', val);
      },
    },
  },
  methods: {
    handleSizeChange(val) {
      this.$emit('pagination', { page: this.currentPage, limit: val });
      if (this.autoScroll) {
        scrollTo(0, 800);
      }
    },
    handleCurrentChange(val) {
      this.$emit('pagination', { page: val, limit: this.pageSize });
      if (this.autoScroll) {
        scrollTo(0, 800);
      }
    },
  },
};
</script>

<style scoped>

.pagination-container {
    padding: 10px 0px;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 10px;
}
.pagination-container.hidden {
  display: none;
}
</style>
<style lang="scss">
.el-pagination button {
  /*background: center center no-repeat #FFF;*/
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  /*color: #303133;*/
  border: 1px solid #b1b1b1;
  background: rgba(222,222,222,0);
  color: #b1b1b1;
}
.el-pagination.is-background .btn-first, .el-pagination.is-background .btn-last {
  margin: 0 5px;
  background-color: #f4f4f5;
  color: #606266;
  min-width: 30px;
  border-radius: 2px;
}
.el-pagination.is-background .btn-last {
  margin-right: 0;
}
.el-pagination.is-background .btn-first.disabled, .el-pagination.is-background .btn-first:disabled, .el-pagination.is-background .btn-last.disabled, .el-pagination.is-background .btn-last:disabled {
    color: #C0C4CC;
}
.el-pager {
  li {
    border: 1px solid #b1b1b1 !important;
    background: rgba(222,222,222,0);
    color: #999 !important;
    font-weight: bolder;
  }
  li.active {
    background-color: #798291 !important;
    color: white !important;
    border: 1px solid #798291 !important;
  }
}
.el-pagination {
  padding-right: 0;
}
</style>
