<template>
  <div :class="{'has-logo':showLogo}" @mouseleave="mouseout">
<!--    <hamburger id="hamburger-container" :is-active="sidebar.opened" class="hamburger-container" @mouseOver="mouseOver" @mouseout="mouseout" @toggleClick="toggleSideBar" />-->
    <logo :collapse="isCollapse" />
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu
          :show-timeout="200"
          :default-active="$route.path"
          :collapse="isCollapse"
          mode="vertical"
          background-color="#304156"
          text-color="#bfcbd9"
          active-text-color="#409EFF"
          @mouseover.native="mouseOver"
      >
        <sidebar-item v-for="(route,ind) in routes" :key="ind" :item="route" :base-path="route.path" />
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SidebarItem from './SidebarItem';
import Logo from './Logo';
import variables from '@/styles/variables.scss';
import Hamburger from '@/components/Hamburger';

export default {
  // eslint-disable-next-line vue/no-unused-components
  components: { SidebarItem, Logo, Hamburger },
  computed: {
    ...mapGetters([
      'sidebar',
      'permission_routers',
    ]),
    routes() {
      return this.$store.state.permission.routes;
    },
    showLogo() {
      return this.$store.state.settings.sidebarLogo;
    },
    variables() {
      return variables;
    },
    isCollapse() {
      return !this.sidebar.opened;
    },
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar');
    },
    mouseOver() {
      // Cookies.set('sidebarStatus', 0);
      if(!this.$store.state.app.sidebar.opened){
        this.$store.commit('app/OPEN_HOVER_SIDEBAR')
      }
    },
    mouseout() {
      // Cookies.set('sidebarStatus', 0);
      this.$store.commit('app/CLOSE_HOVER_SIDEBAR');
    },
  }
};
</script>
