<template>
  <div class="sidebar-logo-container" :class="{'collapse':collapse}">
    <Hamburger id="hamburger-container" class="hamburger-container" :is-active="collapse"
               @mouseOver="mouseOver" @mouseout="mouseout" @toggleClick="toggleSideBar" />
    <transition name="sidebarLogoFade">
      <router-link v-if="collapse" key="collapse" class="sidebar-logo-link" to="/">
<!--         <img v-if="logo" :src="logo" class="sidebar-logo">-->
      </router-link>
      <router-link v-else key="expand" class="sidebar-logo-link" to="/">
        <img width="200" v-if="logoExpand" :src="logoExpand" class="sidebar-logo">
      </router-link>
    </transition>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
import logo from '@/assets/images/logo.png';
import logoExpand from '@/assets/images/logo_expand.png';
import Hamburger from '@/components/Hamburger';

export default {
  components: { Hamburger },
  computed: {
    ...mapGetters([
      'sidebar',
      'permission_routers',
    ]),
  },
  name: 'SidebarLogo',
  props: {
    collapse: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      title: '',
      logo: logo,
      logoExpand: logoExpand,
    };
  },
  methods: {
    toggleSideBar() {
      // this.$store.dispatch('app/toggleSideBar');
    },
    mouseOver() {
      // Cookies.set('sidebarStatus', 0);
      if(!this.$store.state.app.sidebar.opened){
        this.$store.commit('app/OPEN_HOVER_SIDEBAR');
      }
    },
    mouseout() {
      // Cookies.set('sidebarStatus', 0);
      // this.$store.commit('app/CLOSE_HOVER_SIDEBAR');
    },
  }
};
</script>

<style lang="scss" scoped>
#hamburger-container {
  display: inline-block;
  float: left;
  vertical-align: middle;
  padding-top: 11px !important;
  cursor: pointer;
  height: 62px;
}
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 62px;
  line-height: 62px;
  background: #0066d6;
  text-align: center;
  overflow: hidden;
  .sidebar-logo-link {
    text-align: left;
    padding-left:25px;
  }
  & .sidebar-logo-link {
    height: 100%;
    width: initial !important;
    float: left;
    & .sidebar-logo {
      vertical-align: middle;
      margin-right: 12px;
      width: 100px;
      margin-left: -14px;
      position: relative;
      top: -3px;
    }

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      color: #fff;
      font-weight: 600;
      line-height: 50px;
      font-size: 14px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0;
    }
  }
}
</style>
