<template>
  <div class="cabinet-container">
    <template>
      <div id="cabinet-table">
        <template>
          <el-row :gutter="6" justify="end">
            <div class="search-block">
              <el-col :span="18">
                <el-input class="search"
                          placeholder=""
                          v-model="filter.name" @keyup.enter.native="handleFilter()">
                  <span slot="prefix">
                    <img class="search-icon" src="@/assets/images/search.png">
                  </span>
                </el-input>
                <filter-cabinet :supplierList="supplierList" @search="search"></filter-cabinet>
              </el-col>
              <el-col style="display: flex;justify-content: flex-end;">
                <xlsx-workbook disable-wrapper-click style="margin-right: 10px;">
                  <xlsx-sheet
                      :collection="sheet.data"
                      v-for="sheet in sheets"
                      :key="sheet.name"
                      :sheet-name="sheet.name"
                  />
                  <xlsx-download :filename="filename" ref="xlsx">

                  </xlsx-download>
                </xlsx-workbook>
                <div>
                  <el-button @click="download" class="black-button table-header-icon" style="line-height: 19px; width: 128.2px">
                    <img  style="margin-right: 5px" :src="LockIcon"/>
                    Xuất token
                  </el-button>
                </div>
                <div>
                  <el-button type="primary" style="line-height: 18px" icon="el-icon-plus" @click="handleCreate()">
                    Thêm mới
                  </el-button>
                </div>
              </el-col>
            </div>

          </el-row>
        </template>

        <el-table
            :header-cell-style="{background: '#d0d5d9',color: 'black', height: '52px'}"
            :row-class-name="isActivatedCabinet"
            ref="multipleTable"
            :data="cabinets"
            border
            @row-click="rowClicked"
            @selection-change="handleSelectionChange"
            style="width: 100%">
          <el-table-column type="selection" label="ID" width="40" class="checkbox-column">

          </el-table-column>
          <el-table-column label="ID" width="50">
            <template slot-scope="scope" style="text-align: center">
              <div style="text-align: center">
                <span>{{ scope.$index + query.size * (query.page - 1) + 1 }}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="Tên tủ" width="100">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Vị trí">
            <template slot-scope="scope">
              <span>{{ scope.row.site }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Hãng cung cấp">
            <template slot-scope="scope">
              <span>{{ scope.row.supplier }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Trạng thái">
            <template slot-scope="scope">
              <span v-if="scope.row.status === -1" class="cabinet-inactive">Chưa kích hoạt</span>
              <span v-else class="cabinet-active">Kích hoạt</span>
            </template>
          </el-table-column>

        </el-table>

        <p style="clear: both"></p>
        <pagination
            v-show="total > query.size"
            :total="total"
            :page.sync="query.page"
            :layout="layout"
            :limit.sync="query.size"
            @pagination="getCabinets"
        />
      </div>
      <div id="cabinet-detail">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <template v-if="cabinetDetail">
          <p style="font-size: 30px; margin: 0; font-weight: bold;">
            {{ cabinetDetail.cabinet.name }}
            <img v-if="cabinetDetail.cabinet.status === 1"  src="@/assets/images/MdiWifiBlue.png">
            <img v-else src="@/assets/images/noti-connect.png">
          </p>
          <component
              style="margin-bottom: 25px; width: 100%"
              ref="cabinetMap"
              v-bind:is="showComponent"
              v-bind:objLonLat="objLonLat"
          ></component>
          <template v-if="cabinetDetail.status.id && cabinetDetail.status.timestamp !== null">
            <el-row class="group-info" style="display: flex" align="center">
              <el-col :span="4" class="temp">
                <img width="15" height="26" src="@/assets/images/detail-cabinet-temp.png"
                     style="margin-top: 16px;margin-right: 5px;">
                {{ cabinetDetail.status.temp }}
                <div style="font-size: 14px; line-height: 50px;">
                  oC
                </div>
              </el-col>
              <el-col :span="4" class="humid">
                <img width="17.4" height="24.1" src="@/assets/images/detail-cabinet-humid.png"
                     style="margin-top: 17px;margin-right: 5px;">
                {{ cabinetDetail.status.humid }}
                <div style="font-size: 14px; line-height: 65px;">
                  (%)
                </div>
              </el-col>
              <el-col :span="4" class="smoke">
                <img width="17.4" height="22.6" src="@/assets/images/detail-cabinet-smoke.png"
                     style="margin-top: 18px;margin-right: 5px;">
                {{ (cabinetDetail.status.smokeAlert) ? 'ON' : 'OFF' }}
              </el-col>
              <el-col :span="4" class="power">
                <img width="12.4" height="23.5" src="@/assets/images/detail-cabinet-lighting.png"
                     style="margin-top: 18px;margin-right: 5px;">
                220
                <div style="font-size: 14px; line-height: 65px;">
                  (V)
                </div>
              </el-col>
              <el-col :span="4" class="ampere">
                <img width="25" height="25" src="@/assets/images/detail-cabinet-energy.png"
                     style="margin-top: 17px;margin-right: 5px;">
                {{ cabinetDetail.status.powerOut }}
                <div style="font-size: 14px; line-height: 65px;">
                  (A)
                </div>
              </el-col>
              <el-col :span="4" class="battery" style="border: none">
                <img width="30.5" height="22.9" src="@/assets/images/detail-cabinet-battery.png"
                     style="margin-top: 18px;margin-right: 5px;">
                {{ cabinetDetail.status.dcBat }}
                <div style="font-size: 14px; line-height: 65px;">
                  (V)
                </div>
              </el-col>


            </el-row>
          </template>
          <template>
            <el-popover
                placement="bottom-end"
                trigger="hover"
                width="220"
                content="Nhấn vào đây để copy token">
              <el-button class="button-copy" circle slot="reference" @click="getCabinetToken()">
                <img width="23.3" height="29.4" src="@/assets/images/detail-cabinet-copy.png">
              </el-button>
            </el-popover>

            <el-row style="margin-bottom: 20px">
              <el-col :span="3" style="text-align:center">
                <img width="26.2" src="@/assets/images/detail-cabinet-gps.png"/>
              </el-col>
              <el-col :span="20">
                <el-row class="detail-title">Vị trí lắp đặt</el-row>
                <el-row class="detail-value">{{ cabinetDetail.cabinet.site }}</el-row>
              </el-col>
            </el-row>
            <el-row style="margin-bottom: 20px">
              <el-col :span="3" style="text-align:center">
                <img width="29.4" src="@/assets/images/detail-cabinet-supplier.png"/>
              </el-col>
              <el-col :span="20">
                <el-row class="detail-title">Hãng sản xuất</el-row>
                <el-row class="detail-value">{{ cabinetDetail.cabinet.supplier }}</el-row>
              </el-col>
            </el-row>
            <el-row style="margin-bottom: 20px" v-if="cabinetDetail.status.id && cabinetDetail.status.timestamp !== null">
              <el-col :span="3" style="text-align:center">
                <img width="30" src="@/assets/images/detail-cabinet-timer.png"/>
              </el-col>
              <el-col :span="20">
                <el-row class="detail-title">Thời gian ghi nhận dữ liệu</el-row>
                <el-row class="detail-value">
                  {{ parseDate(cabinetDetail.status.timestamp)}}
                </el-row>
              </el-col>
            </el-row>
            <el-row style="margin-bottom: 20px" v-if="cabinetDetail.status.id">
              <el-col :span="3" style="text-align:center">
                <img width="26.9" src="@/assets/images/detail-cabinet-door.png"/>
              </el-col>
              <el-col :span="20">
                <el-row class="detail-title">Trạng thái cửa</el-row>
                <el-row class="detail-value" v-if="cabinetDetail.status.doorStatus">Đóng</el-row>
                <el-row class="detail-value" v-else>Mở</el-row>
              </el-col>
            </el-row>
            <!--            <el-row style="margin-bottom: 20px" v-if="cabinetDetail.status.id">-->
            <!--              <el-col :span="3" style="text-align:center">-->
            <!--                <img width="18.4" src="@/assets/images/detail-cabinet-light.png"/>-->
            <!--              </el-col>-->
            <!--              <el-col :span="20">-->
            <!--                <el-row class="detail-title">Đèn báo</el-row>-->
            <!--                <el-row class="detail-value" v-if="cabinetDetail.status.lightStt">Bật</el-row>-->
            <!--                <el-row class="detail-value" v-else>Tắt</el-row>-->
            <!--              </el-col>-->
            <!--            </el-row>-->
            <el-row style="margin-bottom: 20px" v-if="cabinetDetail.status.id">
              <el-col :span="3" style="text-align:center">
                <img width="30.7" src="@/assets/images/detail-cabinet-fan.png"/>
              </el-col>
              <el-col :span="20">
                <el-row class="detail-title">Trạng thái quạt</el-row>
                <el-row class="detail-value" v-if="cabinetDetail.status.fanStatus">Bật</el-row>
                <el-row class="detail-value" v-else>Tắt</el-row>
              </el-col>
            </el-row>
          </template>

        </template>
        <div style="text-align: right">
          <el-button type="primary" class="detail-button" @click="handleEdit()">
            <img width="13.9" src="@/assets/images/detail-cabinet-edit.png" alt="Nhấn vào đây để copy token">
            Sửa
          </el-button>
        </div>
        <input id="cabinet-token" type="hidden"/>
      </div>
    </template>
    <!-- Dialog Add -->
    <el-dialog
        title="Thêm mới tủ điện"
        :visible.sync="dialogAdd"
        top="3vh"
        @close="closeDialog()"
        :close-on-click-modal="false"
    >
      <el-form
          :model="cabinet"
          :rules="rules"
          ref="addForm"
          label-position="top"
          label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên tủ điện" prop="name">
              <el-input placeholder="45-M23377" v-model="cabinet.name"></el-input>
            </el-form-item>

            <div>
              <el-form-item label="Mô tả" prop="description">
                <el-input type="textarea"
                          :autosize="{ minRows: 3, maxRows: 6}"
                          placeholder="Mô tả thông tin tủ điện"
                          v-model="cabinet.description"></el-input>
              </el-form-item>
            </div>
            <div>
              <el-form-item label="Hãng sản xuất" prop="supplier">
                <el-select v-model="cabinet.supplier" placeholder="Hãng sản xuất" filterable clearable
                           style="width: 100%;" >
                  <el-option
                      v-for="item in supplierList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.name"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div>
              <el-form-item label="Vị trí chi tiết" prop="detailSite">
                <el-input placeholder="123 Lê Hồng Phong" v-model="cabinet.detailSite"></el-input>
              </el-form-item>
            </div>
            <div>
              <el-row :gutter="10">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="8">
                  <el-form-item label="Tỉnh/Thành phố" prop="provinceId">
                    <el-select v-model="cabinet.provinceId" placeholder="-Lựa chọn-" filterable clearable @change="changeProvince()"
                               style="width: 100%;" >
                      <el-option
                          v-for="item in provinces"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="8">
                  <el-form-item label="Quận/Huyện" prop="districtId">
                    <el-select v-model="cabinet.districtId" placeholder="-Lựa chọn-" filterable clearable @change="changeDistrict()"
                               style="width: 100%;" >
                      <el-option
                          v-for="item in districts"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="8">
                  <el-form-item label="Phường/Xã" prop="wardId">
                    <el-select v-model="cabinet.wardId" placeholder="-Lựa chọn-" filterable clearable
                               style="width: 100%;" >
                      <el-option
                          v-for="item in wards"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <div class="item-left-child">
              <el-form-item label="Kinh độ" prop="longitude">
                <el-input v-model="cabinet.longitude" placeholder="105.776"></el-input>
              </el-form-item>
            </div>
            <div class="item-right-child">
              <el-form-item label="Vĩ độ" prop="latitude">
                <el-input v-model="cabinet.latitude" placeholder="19.807"></el-input>
              </el-form-item>
            </div>
            <div class="item-left" style="width: 100%">
              <el-form-item label="" prop="isSetWarningThreshold">
                <el-checkbox v-model="cabinet.isSetWarningThreshold"><p>Thiết lập ngưỡng cảnh báo</p></el-checkbox>
              </el-form-item>
            </div>
            <div class="item-left-child">
              <p style="margin-top: 0">Nhiệt độ</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng dưới" v-model="cabinet.minTemp"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng trên" v-model="cabinet.maxTemp"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="item-right-child">
              <p style="margin-top: 0">Độ ẩm</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng dưới" v-model="cabinet.minHumid"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng trên" v-model="cabinet.maxHumid"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="item-left-child">
              <p>Công suất (KW/h)</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="100KW/h" v-model="cabinet.watt"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-select v-model="cabinet.wattThreshold" filterable clearable
                             placeholder="-Lựa chọn-"
                             style="width: 100%;">
                    <el-option
                        v-for="item in threshold"
                        :key="item.key"
                        :label="item.value"
                        :value="item.key"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
            <div class="item-right-child">
              <p>Nguồn ắc quy (V)</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="24V" v-model="cabinet.dcBat"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-select v-model="cabinet.dcBatThreshold" filterable clearable
                             placeholder="-Lựa chọn-"
                             style="width: 100%;">
                    <el-option
                        v-for="item in threshold"
                        :key="item.key"
                        :label="item.value"
                        :value="item.key"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
          </div>

          <div class="item-right" style="margin-top: 35px">
            <component
                v-bind:is="showComponentAction"
                v-bind:longitude="cabinet.longitude"
                v-bind:latitude="cabinet.latitude"
                @changeLongitude="(newLongitude) => {cabinet.longitude = newLongitude}"
                @changeLatitude="(newLatitude) => {cabinet.latitude = newLatitude}"
            ></component>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="closeDialog">HỦY</el-button>
        <el-button type="primary" @click="addCabinet()" :loading="loading">
          <svg-icon icon-class="save"/>
          LƯU
        </el-button>
      </div>
    </el-dialog>

    <!-- Dialog Edit -->
    <el-dialog
        title="Sửa thông tin tủ điện"
        :visible.sync="dialogEdit"
        top="3vh"
        @close="closeDialog()"
        :close-on-click-modal="false"
    >
      <el-form
          :model="cabinet"
          :rules="rules"
          ref="editForm"
          label-position="top"
          label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên tủ điện" prop="name">
              <el-input placeholder="45-M23377" v-model="cabinet.name"></el-input>
            </el-form-item>

            <div>
              <el-form-item label="Mô tả" prop="description">
                <el-input type="textarea"
                          :autosize="{ minRows: 3, maxRows: 6}"
                          placeholder="Mô tả thông tin tủ điện"
                          v-model="cabinet.description"></el-input>
              </el-form-item>
            </div>
            <div>
              <el-form-item label="Hãng sản xuất" prop="address">
                <el-select v-model="cabinet.supplier" placeholder="Hãng sản xuất" filterable clearable
                           style="width: 100%;">
                  <el-option
                      v-for="item in supplierList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.name"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div>
              <el-form-item label="Vị trí chi tiết" prop="detailSite">
                <el-input placeholder="123 Lê Hồng Phong" v-model="cabinet.detailSite"></el-input>
              </el-form-item>
            </div>
            <div>
              <el-row :gutter="10">
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="8">
                  <el-form-item label="Tỉnh/Thành phố" prop="provinceId">
                    <el-select v-model="cabinet.provinceId" placeholder="-Lựa chọn-" filterable clearable @change="changeProvince()"
                               style="width: 100%;" >
                      <el-option
                          v-for="item in provinces"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="8">
                  <el-form-item label="Quận/Huyện" prop="districtId">
                    <el-select v-model="cabinet.districtId" placeholder="-Lựa chọn-" filterable clearable @change="changeDistrict()"
                               style="width: 100%;" >
                      <el-option
                          v-for="item in districts"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="8">
                  <el-form-item label="Phường/Xã" prop="wardId">
                    <el-select v-model="cabinet.wardId" placeholder="-Lựa chọn-" filterable clearable
                               style="width: 100%;" >
                      <el-option
                          v-for="item in wards"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <div class="item-left-child">
              <el-form-item label="Kinh độ" prop="longitude">
                <el-input v-model="cabinet.longitude" placeholder="105.776"></el-input>
              </el-form-item>
            </div>
            <div class="item-right-child">
              <el-form-item label="Vĩ độ" prop="latitude">
                <el-input v-model="cabinet.latitude" placeholder="19.807"></el-input>
              </el-form-item>
            </div>
            <div class="item-left" style="width: 100%">
              <el-form-item label="" prop="isSetWarningThreshold">
                <el-checkbox v-model="cabinet.isSetWarningThreshold">Thiết lập ngưỡng cảnh báo</el-checkbox>
              </el-form-item>
            </div>
            <div class="item-left-child">
              <p style="margin-top: 0">Nhiệt độ</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng dưới" v-model="cabinet.minTemp"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng trên" v-model="cabinet.maxTemp"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="item-right-child">
              <p style="margin-top: 0">Độ ẩm</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng dưới" v-model="cabinet.minHumid"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-input placeholder="Ngưỡng trên" v-model="cabinet.maxHumid"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="item-left-child">
              <p>Công suất (KW/h)</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="100KW/h" v-model="cabinet.watt"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-select v-model="cabinet.wattThreshold" filterable clearable
                             placeholder="-Lựa chọn-"
                             style="width: 100%;">
                    <el-option
                        v-for="item in threshold"
                        :key="item.key"
                        :label="item.value"
                        :value="item.key"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
            <div class="item-right-child">
              <p>Nguồn ắc quy (V)</p>
              <div class="item-left">
                <el-form-item label="">
                  <el-input placeholder="24V" v-model="cabinet.dcBat"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="">
                  <el-select v-model="cabinet.dcBatThreshold" filterable clearable
                             placeholder="-Lựa chọn-"
                             style="width: 100%;">
                    <el-option
                        v-for="item in threshold"
                        :key="item.key"
                        :label="item.value"
                        :value="item.key"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
          </div>

          <div class="item-right" style="margin-top: 35px">
            <component
                v-bind:is="showComponentAction"
                v-bind:longitude="cabinet.longitude"
                v-bind:latitude="cabinet.latitude"
                @changeLongitude="(newLongitude) => {cabinet.longitude = newLongitude}"
                @changeLatitude="(newLatitude) => {cabinet.latitude = newLatitude}"
            ></component>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="closeDialog">HỦY</el-button>
        <el-button type="primary" @click="editCabinet()" :loading="loading">
          <svg-icon icon-class="save"/>
          LƯU
        </el-button>
      </div>
    </el-dialog>
  </div>

</template>

<script>
import Pagination from "@/components/Pagination_custom";
import FilterCabinet from "./component/filter";
import PointMap from "@/components/PointMap";
import PointMapDetail from "@/components/PointMapDetail";

import LockIcon from "@/assets/images/padlock.png";
import UnlockIcon from "@/assets/images/unlock.png";
import FireIcon from "@/assets/images/fire.png";
import CameraIcon from "@/assets/images/camera.png";
import FanOnIcon from "@/assets/images/fan.png";
import FanOffIcon from "@/assets/images/fan-off.png";
import LinkIcon from "@/assets/images/link.png";
import BatteryIcon from "@/assets/images/battery.png";
import TempIcon from "@/assets/images/temperature-black.png";
import HumidIcon from "@/assets/images/humid-black.png";
import DoorIcon from "@/assets/images/door-stt.png";
import FireBlackIcon from "@/assets/images/fire-black.png";
import FanBlackIcon from "@/assets/images/fan-black.png";

import Resource from "@/api/resource";
import {isFloat, isLatitude, isLongitude} from "@/utils/validate";
import moment from 'moment'
import {XlsxDownload, XlsxSheet, XlsxWorkbook} from "vue-xlsx"

const provinceResource = new Resource("cabinet/site/provinces");
const districtResource = new Resource("cabinet/site/districts");
const wardResource = new Resource("cabinet/site/wards");
const supplierResource = new Resource("cabinet/supplier");
const cabinetSearchResource = new Resource("cabinet/search");
const cabinetResource = new Resource("cabinet");
const cabinetTokenResource = new Resource("cabinet/token");
export default {
  name: "cabinet",
  components: {FilterCabinet, Pagination, PointMap, XlsxWorkbook, XlsxSheet, XlsxDownload},
  data() {
    const validateLng = (rule, value, callback) => {
      if (!isLongitude(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    const validateLat = (rule, value, callback) => {
      if (!isLatitude(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    const validateFloat = (rule, value, callback) => {
      if (value !== "" && isFloat(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    }
    return {
      filename: "TokenTuDien.xlxs",
      cabinets: [],
      selectedCabinets: [],
      total: 1,
      searchKeyword: '',
      query: {
        page: 1,
        size: 15,
      },
      sheets: [{
        name: 'Sheet1',
        data: null
      }],
      filter: {
        name: null,
        provinceId: null,
        districtId: null,
        wardId: null,
        supplier: null,
        status: null,
      },
      provinces: [],
      districts: [],
      wards: [],
      dialogAdd: false,
      dialogEdit: false,
      isClickCreateOrEdit: false,
      cabinet: {
        provinceId: null
      },
      objLonLat: {},
      cabinetDetail: {
        cabinet: {},
        status: {}
      },
      layout: "first, prev, pager, next, last",
      clickDetailCount: 0,
      isClickDetail: false,
      supplierList: [],
      threshold: [
        {
          key: 0,
          value: '0%'
        },
        {
          key: 10,
          value: '10%'
        },
        {
          key: 20,
          value: '20%'
        },
        {
          key: 30,
          value: '30%'
        },
        {
          key: 40,
          value: '40%'
        },
        {
          key: 50,
          value: '50%'
        },
        {
          key: 60,
          value: '60%'
        },
        {
          key: 70,
          value: '70%'
        },
        {
          key: 80,
          value: '80%'
        },
        {
          key: 90,
          value: '90%'
        },
        {
          key: 100,
          value: '100%'
        },
      ],
      rules: {
        name: [{required: true, message: "Tên tủ điện là bắt buộc", trigger: "blur"}, {max: 255, message: 'Tên tủ điện tối đa 255 ký tự', trigger: 'blur'}],
        detailSite: [{max: 255, message: 'Vị trí chi tiết tối đa 255 ký tự', trigger: 'blur'}],
        description: [{max: 500, message: 'Mô tả tủ điện tối đa 500 ký tự', trigger: 'blur'}],
        provinceId: [{required: true, message: "Vị trí lắp đặt là bắt buộc", trigger: "blur"}],
        districtId: [{required: true, message: "Vị trí lắp đặt là bắt buộc", trigger: "blur"}],
        wardId: [{required: true, message: "Vị trí lắp đặt là bắt buộc", trigger: "blur"}],
        supplier: [{required: true, message: "Hãng sản xuất là bắt buộc", trigger: "blur"}],
        longitude: [
          {required: true, message: "Kinh độ là bắt buộc", trigger: "blur"},
          {validator: validateLng},
        ],
        latitude: [
          {required: true, message: "Vĩ độ là bắt buộc", trigger: "blur"},
          {validator: validateLat},
        ],
        minTemp: [{validator: validateFloat}],
        maxTemp: [{validator: validateFloat}],
        minHumid: [{validator: validateFloat}],
        maxHumid: [{validator: validateFloat}],
        dcBat: [{validator: validateFloat}],
        watt: [{validator: validateFloat}],
      },
      loading: false,
      intervalId: null,


      LockIcon: LockIcon,
      UnlockIcon: UnlockIcon,
      FireIcon: FireIcon,
      CameraIcon: CameraIcon,
      FanOnIcon: FanOnIcon,
      FanOffIcon: FanOffIcon,
      LinkIcon: LinkIcon,
      BatteryIcon: BatteryIcon,
      TempIcon: TempIcon,
      HumidIcon: HumidIcon,
      DoorIcon: DoorIcon,
      FireBlackIcon: FireBlackIcon,
      FanBlackIcon: FanBlackIcon,

    }
  },
  methods: {
    async download(){
      if (this.selectedCabinets.length > 0) {
        await this.dataExport(this.selectedCabinets)
        this.filename = 'TokenTuDien-' + moment().format('DD/MM/YYYY') + '.xlsx'
        this.$refs.xlsx.$props.filename = this.filename
        this.$refs.xlsx.download()
      } else {
        this.$message({
          type: "error",
          message: "Không có tủ điện nào được chọn"
        })
      }
    },
    parseDate(millisecond){
      return moment(millisecond).format('YYYY/MM/DD HH:mm:ss')
    },
    async getProvinces() {
      const response = await provinceResource.list()
      this.provinces = response.data
    },
    async getDistricts() {
      const param = {
        provinceId: this.cabinet.provinceId
      }
      const response = await districtResource.list(param)
      this.districts = response.data
    },
    async getWards() {
      const param = {
        districtId: this.cabinet.districtId
      }
      const response = await wardResource.list(param)
      this.wards = response.data
    },
    changeProvince() {
      this.cabinet.districtId = null
      this.cabinet.wardId = null
      this.wards = []
      this.getDistricts()
    },
    changeDistrict() {
      this.cabinet.wardId = null
      this.getWards()
    },
    isActivatedCabinet(row) {
      if (row.row.status === -1) {
        return 'cabinet-inactive'
      }
      return 'cabinet-active'
    },
    handleSelectionChange(val) {
      this.selectedCabinets = val
    },
    tableHeader() {
      return "table-header-"
    },
    handleCreate() {
      this.resetDialog();
      this.getDistricts();
      this.isClickCreateOrEdit = true;
      this.showComponentAction;
      this.dialogAdd = true;
    },
    handleEdit() {
      this.fetchCabinetInfo();
      this.getDistricts();
      this.getWards();
      this.isClickCreateOrEdit = true;
      this.showComponentAction;
      this.dialogEdit = true;
    },
    resetDialog() {
      this.cabinet = {
        name: "",
        description: "",
        supplier: "",
        provinceId: null,
        districtId: null,
        wardId: null,
        site: "",
        detailSite: "",
        longitude: "",
        latitude: "",
        isSetWarningThreshold: false,
        minTemp: "",
        maxTemp: "",
        minHumid: "",
        maxHumid: "",
        watt: "",
        wattThreshold: null,
        dcBat: "",
        dcBatThreshold: null,
        status: -1,
      }
    },
    async fetchCabinetInfo() {
      this.cabinet = Object.assign({},this.cabinetDetail.cabinet)
    },
    closeDialog() {
      this.isClickCreateOrEdit = false;
      this.dialogEdit = false;
      this.dialogAdd = false;
      this.loading = false;
      // this.$refs[formName].clearValidate();
      // this.$refs[formName].resetFields();
    },
    async getSupplierList() {
      let queryCustom = {
        page: 0,
        size: 200
      };
      let result = await supplierResource.list(queryCustom);
      if (result && result.data) {
        this.supplierList = result.data;
      }
    },
    async getCabinets() {
      this.selectedCabinets = []
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        name: this.filter.name,
        site: this.filter.site,
        supplier: this.filter.supplier,
        status: this.filter.status
      };
      let result = await cabinetSearchResource.list(queryCustom);
      if (result && result.data) {
        this.cabinets = result.data;
        this.total = result.total;
      }
    },
    async getCabinetDetail(id) {
      const {data} = await cabinetResource.get(id);
      // if (data) {
      this.cabinetDetail = data
    },
    async rowClicked(row) {
      this.clickDetailCount++;
      await this.getCabinetDetail(row.id)
      this.cabinetDetail.status.createdDate = moment(this.cabinetDetail.status.createdDate).format("YYYY/MM/DD HH:mm")
      if (this.cabinetDetail) {
        this.isClickDetail = true;
        this.objLonLat = {
          id: row.id,
          longitude: this.cabinetDetail.cabinet.longitude,
          latitude: this.cabinetDetail.cabinet.latitude,
        };
        // show component
        this.showComponent;
        //
        document.getElementById("cabinet-table").style.width = 'calc(100% - 660px)';
        setTimeout(() => {
          document.getElementById("cabinet-detail").style.display = 'block';
          document.getElementById("cabinet-detail").style.width = '630px';
          if (this.clickDetailCount === 1) {
            this.$refs.cabinetMap.renderMap();
          }
        }, 500)

      } else {
        this.$message({
          message: "Tủ điện không tồn tại",
          type: "error",
        });
      }
      // }
    },
    closeDetail() {
      this.isClickDetail = false;
      this.clickDetailCount = 0;
      document.getElementById("cabinet-detail").style.display = 'none';
      document.getElementById("cabinet-detail").style.width = '0';
      document.getElementById("cabinet-table").style.width = 'calc(100%)';
    },
    addCabinet() {
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          this.loading = true
          const params = {
            name: this.cabinet.name.trim(),
            description: this.cabinet.description.trim(),
            supplier: this.cabinet.supplier,
            detailSite: this.cabinet.detailSite.trim(),
            provinceId: this.cabinet.provinceId,
            districtId: this.cabinet.districtId,
            wardId: this.cabinet.wardId,
            status: -1,
            longitude: this.cabinet.longitude,
            latitude: this.cabinet.latitude,
            isSetWarningThreshold: this.cabinet.isSetWarningThreshold,
            minTemp: this.cabinet.minTemp,
            maxTemp: this.cabinet.maxTemp,
            minHumid: this.cabinet.minHumid,
            maxHumid: this.cabinet.maxHumid,
            watt: this.cabinet.watt,
            wattThreshold: this.cabinet.wattThreshold,
            dcBat: this.cabinet.dcBat,
            dcBatThreshold: this.cabinet.dcBatThreshold,
          };
          cabinetResource
              .store(params)
              .then((response) => {
                if (response.status === 200 || response.status === 201) {
                  this.dialogAdd = false;
                  this.resetDialog();
                  this.$message({
                    message: "Thêm mới thành công",
                    type: "success",
                  });
                  this.loading = false;
                  this.getCabinets()
                }
              })
              .catch(() => {
                this.loading = false;
              });
        } else {
          this.loading = false
          return false;
        }
      });
    },
    editCabinet() {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.loading = true
          const params = {
            name: this.cabinet.name.trim(),
            description: this.cabinet.description.trim(),
            supplier: this.cabinet.supplier,
            detailSite: this.cabinet.detailSite.trim(),
            provinceId: this.cabinet.provinceId,
            districtId: this.cabinet.districtId,
            wardId: this.cabinet.wardId,
            status: this.cabinet.status,
            longitude: this.cabinet.longitude,
            latitude: this.cabinet.latitude,
            isSetWarningThreshold: this.cabinet.isSetWarningThreshold,
            minTemp: this.cabinet.minTemp,
            maxTemp: this.cabinet.maxTemp,
            minHumid: this.cabinet.minHumid,
            maxHumid: this.cabinet.maxHumid,
            watt: this.cabinet.watt,
            wattThreshold: this.cabinet.wattThreshold,
            dcBat: this.cabinet.dcBat,
            dcBatThreshold: this.cabinet.dcBatThreshold,
          };

          cabinetResource
              .update(this.cabinet.id, params)
              .then((response) => {
                if (response.status === 200 || response.status === 201) {
                  this.dialogEdit = false;
                  this.$message({
                    message: "Sửa thông tin thành công",
                    type: "success",
                  });
                  this.getCabinetDetail(this.cabinet.id)
                  this.resetDialog();
                  this.getCabinets();
                  this.loading = false;
                }
              })
              .catch(() => {
                this.loading = false;
              });
        } else {
          this.loading = false
          return false;
        }
      });
    },
    getCabinetToken() {
      cabinetTokenResource.get(this.cabinetDetail.cabinet.id)
          .then((response) => {
            if (response.status === 200 || response.status === 201) {
              var token = document.getElementById('cabinet-token')
              token.type = 'text'
              token.value = response.data.token
              token.select()
              document.execCommand("copy");
              token.type = 'hidden'
              this.$message({
                message: "sao chép token thành công",
                type: "success"
              })
            } else {
              this.$message({
                message: "Lỗi hệ thống, thử lại sau",
                type: "error"
              })
            }
          })
          .catch()
    },
    handleFilter () {
      this.selectedCabinets = []
      this.query.page = 1
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        name: this.filter.name,
        provinceId: this.filter.provinceId,
        districtId: this.filter.districtId,
        wardId: this.filter.wardId,
        supplier: this.filter.supplier,
        status: this.filter.status
      };
      cabinetSearchResource.list(queryCustom).then(response => {
        this.cabinets = response.data
        this.total = response.total
      }).catch(err => {
        console.log(err)
      })
    },
    async search(filter) {
      this.filter = {
        name: this.filter.name,
        provinceId: filter.provinceId,
        districtId: filter.districtId,
        wardId: filter.wardId,
        status: filter.status,
        supplier: filter.supplier
      }
      await this.handleFilter()
    },
    async dataExport(data) {
      let self = this
      if (data && data.length > 0) {
        self.sheets[0].data = []
        let param = {
          ids: data.map(data => data.id).join(',')
        }
        const response = await cabinetTokenResource.list(param);
        if (response && response.data != null) {
          data.forEach(cabinet => {
            cabinet.token = response.data.filter(res => res.id === cabinet.id)[0].token
            return cabinet
          })
          data.forEach(item => {
            let itemImport = {
              'id tủ': item.id,
              'Tên tủ': item.name,
              'Token': item.token,
            }
            self.sheets[0].data.push(itemImport)
          })
        } else {
          this.$message({
            type: "error",
            message: "Export lỗi, vui lòng thử lại sau"
          })
        }
      }
    },
    refreshData30S() {
      let self = this
      // load lai bao cao 30s/1
      const idInterval = setInterval(function(){
        if (self.cabinetDetail.cabinet.id){
          self.getCabinetDetail(self.cabinetDetail.cabinet.id)
          self.ini
        }
      }, 30000);
      this.intervalId = idInterval
      window.localStorage.setItem("intervalId",idInterval)
      // ket thuc
    },
  },
  computed: {
    showComponent: function () {
      let component = '';
      if (this.isClickDetail) {
        component = PointMapDetail;
      }
      return component;
    },
    showComponentAction: function () {
      let componentAction = '';
      if (this.isClickCreateOrEdit) {
        componentAction = PointMap;
      }
      return componentAction;
    },
  },
  async mounted() {
    await this.getProvinces();
    await this.getSupplierList()
    await this.getCabinets()
  },
  created() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
    this.refreshData30S()
  },
  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
}
</script>

<style lang="scss">
table tbody tr.cabinet-active td:nth-child(6) {
  background: #c2ffe3;
  padding: 0;
  color: black;
}

table tbody tr.cabinet-inactive td:nth-child(6) {
  background: #ffc2c2;
  padding: 0;
  color: black;
}


.el-dialog__header {
  padding: 0;
  background: #006fe3;
  height: 40px;
  line-height: 40px;
  text-align: center;

  .el-dialog__title {
    color: white;
  }

  .el-icon-close {
    color: white;
    font-size: 22px;
    top: -10px;
    position: relative;
  }
}

.el-dialog__body {
  padding: 10px 20px;

  .el-form-item {
    margin-bottom: 13px;
  }
}

.el-dialog__footer {
  clear: both;
  padding-bottom: 25px;

  .el-button--primary {
    background: #1f7ff5;
    height: 40px;
    border-radius: 5px;
    width: 147px;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #1f7ff5;
  }

  .el-button--danger {
    background: #9e9e9e;
    height: 40px;
    border-radius: 5px;
    width: 147px;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #9e9e9e;
    float: left;
  }
}
</style>

<style lang="scss" scoped>


.cabinet-container {
  margin: 20px;
}

.el-icon-search {
  color: black;
  font-size: 1.5em;
}

.search-block {
  line-height: 36px;
  width: 100%;
  display: flex;
  .search {
    line-height: 36px;
    max-width: 350px;
    width: 80%;
    float: left;
    height: 36px;
    border-radius: 5px;
    background-color: var(--white);
  }

}


.filter-icon {
  padding: 0;
  top: 7px;
}

.black-button,
.black-button:focus,
.black-button:hover {
  background-color: #505050;
  color: white;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;

  img {
    vertical-align: middle;
  }
}

#cabinet-table {
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  /* Firefox 4 */
  -webkit-transition: width 0.5s;
  /* Safari and Chrome */
  -o-transition: width 0.5s;
  float: left;
  border-radius: 4px;
  width: 100%;

  table {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  }
}

.table-header {
  background: #d0d5d9;
  color: black
}

.el-table {
  margin-top: 20px;
}

.el-table--border {
  border-radius: 4px;
}

//.el-table--border th {
//  border-left: 1px solid #8b8a8a !important;
//  border-right: none;
//}
//.el-table--border td {
//  border-left: 1px solid #8b8a8a !important;
//  text-align: center;
//}

.el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px;
}

.item-left {
  width: 49%;
  float: left;
  margin-right: 1%;
}

.item-right {
  width: 49%;
  float: left;
  margin-left: 1%;
}

.item-left-child {
  width: 47.5%;
  float: left;
  margin-right: 2.5%;
  p {
    font-weight: bold;
    color: #363030;
  }
}

.item-right-child {
  width: 47.5%;
  float: left;
  margin-left: 2.5%;
  p {
    font-weight: bold;
    color: #363030;
  }
}

.block-item {
  width: 100%;
  float: left;
}


.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #363030 !important;
}

.el-checkbox {
  color: #363030 !important;
}

@media screen and (max-width: 1366px) {
  .el-dialog {
    width: 60%;
  }
}

@media screen and (min-width: 1367px) {
  .el-dialog {
    width: 56%;
  }
}

#cabinet-detail {
  position: relative;
  width: 0;
  background: white;
  padding: 5px 24px 24px;
  float: left;
  margin-left: 25px;
  display: none;
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  .avatar {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;

    img {
      border-radius: 50%;
    }
  }

  .item-label {
    color: #363030;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .item-text {
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 0.6;
  }

  .el-icon-close {
    background: #e3e3e3;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #878787;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 999;
  }

  .button-copy {
    background: rgba(139, 139, 139, 0.74);
    padding: 8.3px 11.3px;
    width: 46px;
    height: 46px;
    position: absolute;
    right: 50px;
    z-index: 1000;
  }

  .detail-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
  }

  .detail-value {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
  }

  .detail-button {
    background: #1f7ff5;
    height: 40px;
    border-radius: 5px;
    width: 147px;
    font-size: 14px;
    font-weight: normal;
    border-color: #1f7ff5;
  }

  .group-info {
    height: 59px;
    border-radius: 15px;
    background-color: rgba(35, 35, 35, 0.78);
    position: absolute;
    width: calc(100% - 48px);
    top: 280px;

    .temp {
      text-align: center;
      line-height: 59px;
      font-family: Roboto, sans-serif !important;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.24px;
      color: #ff5858;
      margin: 0;
    }

    .humid {
      text-align: center;
      line-height: 59px;
      font-family: Roboto, sans-serif !important;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.24px;
      color: #249ffe;
      margin: 0;
    }

    .smoke {
      text-align: center;
      line-height: 59px;
      font-family: Roboto, sans-serif !important;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.24px;
      color: white;
      margin: 0;
    }

    .power {
      text-align: center;
      line-height: 59px;
      font-family: Roboto, sans-serif !important;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.24px;
      color: #ffcc00;
      margin: 0;
    }

    .ampere {
      line-height: 59px;
      text-align: center;
      font-family: Roboto, sans-serif !important;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.24px;
      color: #26c6da;
      margin: 0;
    }

    .battery {
      line-height: 59px;
      text-align: center;
      font-family: Roboto, sans-serif !important;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.24px;
      color: #00ccc5;
      margin: 0;
    }

    .el-col-4 {
      line-height: 59px;
      border-right: 1px solid #848484;
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }
}

.search-icon {
  margin-top: 9px;
  margin-left: 6px;
}
.table-header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

form label {
  font-weight: bold;
  color: #363030;
}
</style>
