<template>
  <div class="cabinet-container">

    <template>
      <el-row :gutter="6" justify="end">
        <el-col :span="7">
          <div class="search-block">
            <el-input class="search"
                      placeholder=""
                      v-model="filter.name" @keyup.enter.native="handleFilter()">
              <template slot="prefix">
                <img class="search-icon" src="@/assets/images/search.png">
              </template>
            </el-input>
            <filter-cabinet :supplierList="supplierList" @search="search"></filter-cabinet>
          </div>
        </el-col>
        <el-col :span="17">
          <el-row type="flex" justify="end">
            <el-button class="black-button" @click="sendRecordControl('SET01',true)">
              <div class="table-header-icon">
                <img style="margin-right: 5px" :src="LockIcon"/>
                Đóng cửa
              </div>
            </el-button>

            <el-button class="black-button" @click="sendRecordControl('SET01',false)">
              <div class="table-header-icon">
                <img style="margin-right: 5px" :src="UnlockIcon"/>
                Mở cửa
              </div>
            </el-button>

            <el-button class="black-button" @click="sendRecordControl('SET02',null)">
              <div class="table-header-icon">
                <img style="margin-right: 5px" :src="FireIcon"/>
                Tắt báo khói
              </div>
            </el-button>

            <el-button class="black-button" @click="sendRecordControl('SET03',null)">
              <div class="table-header-icon">
                <img style="margin-right: 5px" :src="CameraIcon"/>
                Reset camera
              </div>
            </el-button>

            <el-button class="black-button" @click="sendRecordControl('SET04',true)">
              <div class="table-header-icon">
                <img style="margin-right: 5px" :src="FanOnIcon"/>
                Bật quạt
              </div>
            </el-button>

            <el-button class="black-button" @click="sendRecordControl('SET04',false)">
              <div class="table-header-icon">
                <img style="margin-right: 5px" :src="FanOffIcon"/>
                Tắt quạt
              </div>
            </el-button>
          </el-row>
        </el-col>

      </el-row>
    </template>
    <el-table
        :header-cell-style="{background: '#d0d5d9',color: 'black', height: '52px'}"
        height="700%"
        ref="multipleTable"
        :data="dataTable"
        v-el-table-infinite-scroll="loadMore"
        border
        @selection-change="handleSelectionChange"
        style="width: 100%">

      <el-table-column type="selection" label="ID" width="40" class="checkbox-column">
      </el-table-column>
      <el-table-column label="ID" width="50">
        <template slot-scope="scope">
          <div style="text-align: center">
            <span>{{ scope.$index + 1 }}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Tên tủ" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Vị trí" min-width="200">
        <template slot-scope="scope" >
          <span>{{ scope.row.site }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Kết nối" width="110">
        <template slot="header">
          <div class="table-header-icon">
            <img height="23" width="23" style="margin-right: 5px" :src="LinkIcon"/>
            <span>Kết nối</span>
          </div>
        </template>
        <template slot-scope="scope">
          <div style="text-align: center">
            <img v-if="scope.row.status === 1" width="18" src="@/assets/images/green.png">
            <img v-else width="18" src="@/assets/images/red.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Nguồn cấp (V)" width="120">
        <template slot-scope="scope" v-if="scope.row.currentPowerMain != null">
          <div class="matrix-text" v-if="scope.row.currentPowerMain === false">
            220
            <img class="matrix-icon" width="18" src="@/assets/images/green.png">
          </div>
          <div class="matrix-text" v-else>
            0
            <img class="matrix-icon" width="18" src="@/assets/images/red.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Dòng vào (A)" width="120">
        <template slot-scope="scope" v-if="scope.row.currentPowerIn != null">
          <div class="matrix-text">
            {{ scope.row.currentPowerIn }}
            <img class="matrix-icon" width="18" src="@/assets/images/green.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Dòng ra (A)" width="120">
        <template slot-scope="scope" v-if="scope.row.currentPowerOut != null">
          <div class="matrix-text">
            {{ scope.row.currentPowerOut }}
            <img class="matrix-icon" width="18" src="@/assets/images/green.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Nguồn pin" width="120">
        <template slot="header">
          <div class="table-header-icon">
            <img style="margin-right: 5px" src="@/assets/images/battery.png"/>
            <span>Nguồn pin</span>
          </div>
        </template>
        <template slot-scope="scope" v-if="scope.row.currentDcBat != null">
          <div class="matrix-text">
            {{ scope.row.currentDcBat }}
            <img class="matrix-icon" width="18" src="@/assets/images/green.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Nhiệt độ" width="120">
        <template slot="header">
          <div class="table-header-icon">
            <img height="30" width="19" style="margin-right: 5px" :src="TempIcon"/>
            <span>Nhiệt độ</span>
          </div>
        </template>
        <template slot-scope="scope" v-if="scope.row.currentTemp != null">
          <div class="matrix-text">
            {{ scope.row.currentTemp }}
            <img v-if="isNormalTemp(scope.row)" class="matrix-icon" width="18" src="@/assets/images/green.png">
            <img v-else class="matrix-icon" width="18" src="@/assets/images/red.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Độ ẩm" width="120">
        <template slot="header">
          <div class="table-header-icon">
            <img style="margin-right: 5px" :src="HumidIcon"/>
            <span>Độ ẩm</span>
          </div>
        </template>
        <template slot-scope="scope" v-if="scope.row.currentHumid != null">
          <div class="matrix-text">
            {{ scope.row.currentHumid }}
            <img v-if="isNormalHumid(scope.row)" class="matrix-icon" width="18" src="@/assets/images/green.png">
            <img v-else class="matrix-icon" width="18" src="@/assets/images/red.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Trạng thái cửa" width="150">
        <template slot="header">
          <div class="table-header-icon">
            <img style="margin-right: 5px" :src="DoorIcon"/>
            <span>Trạng thái cửa</span>
          </div>
        </template>
        <template slot-scope="scope" v-if="scope.row.currentDoorStatus != null">
          <div class="matrix-text">
            <img v-if="scope.row.currentDoorStatus === true" width="18" src="@/assets/images/green.png">
            <img v-else width="18" src="@/assets/images/red.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Báo cháy" width="133">
        <template slot="header">
          <div class="table-header-icon">
            <img style="margin-right: 5px" :src="FireBlackIcon"/>
            <span>Báo cháy</span>
          </div>
        </template>
        <template slot-scope="scope" v-if="scope.row.currentSmokeAlarm != null">
          <div class="matrix-text">
            <img v-if="scope.row.currentSmokeAlarm === false" width="18" src="@/assets/images/green.png">
            <img v-else width="18" src="@/assets/images/red.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Quạt" width="100">
        <template slot="header">
          <div class="table-header-icon">
            <img style="margin-right: 5px" :src="FanBlackIcon"/>
            <span>Quạt</span>
          </div>
        </template>
        <template slot-scope="scope" v-if="scope.row.currentFanStatus != null">
          <div class="matrix-text">
            <img v-if="scope.row.currentFanStatus === true" width="18" src="@/assets/images/green.png">
            <img v-else width="18" src="@/assets/images/red.png">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Trạng thái" width="100">
        <template slot-scope="scope">
          <div style="text-align: center; font-size: 2em">
            <i class="el-icon-loading" v-if="scope.row.controlStatus === 'loading'"></i>
            <i class="el-icon-check" v-if="scope.row.controlStatus === 'success'" style="color: #00e381"></i>
            <i class="el-icon-close" v-if="scope.row.controlStatus === 'failed'" style="color: #dd1100"></i>
          </div>
        </template>
      </el-table-column>
    </el-table>

  </div>
</template>

<script>
import elTableInfiniteScroll from 'el-table-infinite-scroll';

import FilterCabinet from "@/views/monitor/component/filter";
import LockIcon from "@/assets/images/padlock.png";
import UnlockIcon from "@/assets/images/unlock.png";
import FireIcon from "@/assets/images/fire.png";
import CameraIcon from "@/assets/images/camera.png";
import FanOnIcon from "@/assets/images/fan.png";
import FanOffIcon from "@/assets/images/fan-off.png";
import LinkIcon from "@/assets/images/link.png";
import TempIcon from "@/assets/images/temperature-black.png";
import HumidIcon from "@/assets/images/humid-black.png";
import DoorIcon from "@/assets/images/door-stt.png";
import FireBlackIcon from "@/assets/images/fire-black.png";
import FanBlackIcon from "@/assets/images/fan-black.png";

import Resource from "@/api/resource";

const supplierResource = new Resource("cabinet/supplier");
const cabinetResource = new Resource("cabinet");
const cabinetSearchResource = new Resource("cabinet/search");
const cabinetStatusResource = new Resource("cabinet/status");
const recordControl = new Resource("cabinet/record-control");
export default {
  name: "cabinet",
  components: {FilterCabinet},
  directives: {
    'el-table-infinite-scroll': elTableInfiniteScroll
  },
  data() {
    return {
      cabinets: [],
      dataTable: [],
      selectedCabinets: [],
      cabinetsStatus: [],
      supplierList: [],
      checkAll: false,
      searchName: '',
      LockIcon: LockIcon,
      UnlockIcon: UnlockIcon,
      FireIcon: FireIcon,
      CameraIcon: CameraIcon,
      FanOnIcon: FanOnIcon,
      FanOffIcon: FanOffIcon,
      LinkIcon: LinkIcon,
      TempIcon: TempIcon,
      HumidIcon: HumidIcon,
      DoorIcon: DoorIcon,
      FireBlackIcon: FireBlackIcon,
      FanBlackIcon: FanBlackIcon,

      query: {
        page: 1,
        size: 20
      },
      filter: {
        name: null,
        provinceId: null,
        districtId: null,
        wardId: null,
        supplier: null,
        status: null,
      },
      total: 0,
      intervalId: null
    }
  },
  created() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
    this.refreshData30S()
  },
  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
  methods: {
    refreshData30S() {
      let self = this
      // load lai bao cao 30s/1
      const idInterval = setInterval(function(){
        self.refreshData();
      }, 30000);
      this.intervalId = idInterval
      window.localStorage.setItem("intervalId",idInterval)
      // ket thuc
    },
    isNormalTemp(cabinet){
      if (cabinet.currentTemp !== null  && cabinet.isSetWarningThreshold) {
        return cabinet.minTemp < cabinet.currentTemp && cabinet.currentTemp < cabinet.maxTemp
      }
      return true;
    },
    isNormalHumid(cabinet){
      if (cabinet.currentHumid !== null  && cabinet.isSetWarningThreshold) {
        return cabinet.minHumid < cabinet.currentHumid && cabinet.currentHumid < cabinet.maxHumid
      }
      return true;
    },
    handleSelectionChange(val) {
      this.selectedCabinets = val
    },
    tableHeader() {
      return "table-header-"
    },
    async handleFilter () {
      this.query.page = 1
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        name: this.filter.name,
        provinceId: this.filter.provinceId,
        districtId: this.filter.districtId,
        wardId: this.filter.wardId,
        supplier: this.filter.supplier,
        status: this.filter.status
      };
      let result = await cabinetSearchResource.list(queryCustom);
      if (result && result.data) {
        this.cabinets = result.data;
        this.total = result.total;
        this.dataTable = this.cabinets
      }
    },
    async getSupplierList() {
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size
      };
      let result = await supplierResource.list(queryCustom);
      if (result && result.data) {
        this.supplierList = result.data;
      }
    },
    async getCabinets() {
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        name: this.filter.name,
        site: this.filter.site,
        supplier: this.filter.supplier,
        status: this.filter.status
      };
      let result = await cabinetSearchResource.list(queryCustom);
      if (result && result.data) {
        this.cabinets = result.data;
        this.total = result.total;
        this.dataTable = this.dataTable.concat(this.cabinets)
      }
    },
    async refreshData() {
      let queryCustom = {
        page: 0,
        size: this.query.size * this.query.page,
        name: this.filter.name,
        site: this.filter.site,
        supplier: this.filter.supplier,
        status: this.filter.status
      };
      let result = await cabinetSearchResource.list(queryCustom);
      if (result && result.data) {
        this.cabinets = result.data;
        this.total = result.total;
        this.dataTable = this.cabinets
      }
    },
    async search(filter) {
      this.filter = {
        name: this.filter.name,
        provinceId: filter.provinceId,
        districtId: filter.districtId,
        wardId: filter.wardId,
        status: filter.status,
        supplier: filter.supplier
      }
      await this.handleFilter()
    },
    async sendRecordControl(code, value) {

      let data = {};
      if (code === 'SET01') {
        data = {
          "name": (value) ? "Đóng cửa" : "Mở cửa",
          "code": code,
          "dataOut": value,
        }
      } else if (code === 'SET02') {
        data = {
          "name": "Reset báo khói",
          "code": code,
        }
      } else if (code === 'SET03') {
        data = {
          "name": "Reset nguồn",
          "code": code,
        }
      } else if (code === 'SET04') {
        data = {
          "name": (value) ? "Bật quạt" : "Tắt quạt",
          "code": code,
          "dataOut": value,
        }
      }
      const listCabinet = this.$refs.multipleTable.selection.map(cabinet => cabinet.id)

      for (let i = 0; i < this.dataTable.length; i++) {
        this.dataTable[i].controlStatus = null
        if (listCabinet.includes(this.dataTable[i].id)) {
          this.dataTable[i].controlStatus = 'loading'
        }
      }
      this.dataTable.push({})
      this.dataTable.pop()

      data.listCabinet = listCabinet
      const response = await recordControl.store(data)
      if (response && response.status === 200) {
        for (let i = 0; i < this.dataTable.length; i++) {
          if (response.data.successList.includes(this.dataTable[i].id)) {
            this.dataTable[i].controlStatus = 'success'
            if (data.code === 'SET01') {
              this.dataTable[i].doorStatus = data.dataOut
            } else if (code === 'SET02') {
              this.dataTable[i].smokeAlarm = false
            } else if (code === 'SET04') {
              this.dataTable[i].fanStatus = data.dataOut
            }
          }
          if (response.data.failedList.includes(this.dataTable[i].id)) {
            this.dataTable[i].controlStatus = 'failed'
          }
          this.dataTable[i].site = this.dataTable[i].site + ' '
          this.dataTable[i].site = this.dataTable[i].site.trim()
        }
      }
    },
    loadMore() {
      if (this.total > (this.query.page + 1) * this.query.size) {
        this.query.page += 1;
        this.getCabinets()
      }
    },
  },
  async mounted() {
    await this.getCabinets()
    await this.getSupplierList()
  },
}
</script>

<style lang="scss" scoped>

.cabinet-container {
  margin: 20px;
  height: 11vh;
}

.search-block {
  line-height: 36px;
  width: 100%;
  display: flex;
}

.search {
  max-width: 350px;
  width: 80%;
  float: left;
  height: 36px;
  border-radius: 5px;
  background-color: var(--white);
}

.filter-icon {
  padding: 0;
  top: 7px;
}

.black-button,
.black-button:focus,
.black-button:hover {
  background-color: #505050;
  color: white;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;

  img {
    vertical-align: middle;
  }
}

.table-header {
  background: #d0d5d9;
  color: black
}

.el-table {
  margin-top: 20px;
  color: black !important;
}

.el-table--border {
  border-radius: 4px;
}

//.el-table--border th {
//  border-left: 1px solid #8b8a8a !important;
//  border-right: none;
//}
//.el-table--border td {
//  border-left: 1px solid #8b8a8a !important;
//  text-align: center;
//}
.el-table .cell {
  text-align: center;
}

.el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px;
}

.matrix-icon {
  position: absolute;
  right: 10px;
  margin-top: 2px;
}

.matrix-text {
  text-align: center;
  font-size: 18px;
  font-weight: bolder
}

.checkbox-column {
  display: flex;
  justify-content: center;
  border-right: none;
}

.table-header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  margin-top: 10px;
  margin-left: 6px;
}

</style>
