<template>
  <div class="map-monitor">
    <div class="search-blocks">
      <template>
        <el-select
            popper-class="my-autocomplete"
            class="search-map"
            filterable
            clearable
            placeholder=""
            v-model="keyword"
            @change="handleSelect">
          <span slot="prefix">
            <img class="search-icon" src="@/assets/images/search.png">
          </span>
          <el-option
              v-for="item in this.cabinets"
              :key="item.id"
              :label="item.site"
              :value="item.id">
          </el-option>
        </el-select>
      </template>
    </div>
    <MapCabinetRoute :key="this.render" v-if="this.cabinets" :cabinets="this.cabinets" :cabinet-search-by-site="this.cabinetSearchBySite"/>
    <div class="info">
      <el-row style=" display: flex;justify-content: center;">
        <span style="font-size: 42px">
          <span style="color: #59c36a;">{{ cabinetConnect }}</span>
          <span style="color: white">/</span>
          <span style="color: #ffe11f">{{ cabinetDisconnect }}</span>
        </span>
      </el-row>
      <el-row style="font-size: 28px; color: white">
        <img src="@/assets/images/speedometer.png">
        {{ this.totalWattage }}kWh
      </el-row>

    </div>
  </div>
</template>
<script type="text/javascript">

import "ol/ol.css";
import MapCabinetRoute from "@/views/monitor/component/mapComponent";
import Resource from "@/api/resource";

const cabinetResource = new Resource("cabinet");
const cabinetWattResource = new Resource("cabinet/watt");

export default {
  components: {MapCabinetRoute},

  data() {
    return {
      cabinets: null,
      cabinetSearchBySite: null,
      cabinetConnect: 0,
      cabinetDisconnect: 0,
      totalWattage: 0,
      intervalId: null,
      keyword: '',
      render: 0
    }
  },
  created() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
    this.refreshData30S()
  },
  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
  mounted() {
    // this.fetchPosition()
    this.getCabinets()
    this.getTotalWatt()
  },
  methods: {
    refreshData30S() {
      let self = this
      // load lai bao cao 30s/1
      const idInterval = setInterval(function(){
        self.getTotalWatt();
        self.getCabinets();
      }, 30000);
      this.intervalId = idInterval
      window.localStorage.setItem("intervalId",idInterval)
      // ket thuc
    },
    async getTotalWatt() {
      const {data} = await cabinetWattResource.list();
      this.totalWattage = Math.trunc(data.totalWatt / 1000)
      this.cabinetConnect = data.connectedCount
      this.cabinetDisconnect = data.disconnectedCount
    },
    async handleSelect() {
      // const idCabinet = this.$route.query.keyWord
      if (this.keyword) {
        const {data} = await cabinetResource.get(this.keyword);
        this.cabinetSearchBySite = data
        this.render += 1;
      }
      // this.$router
      //     .push("/monitor/map?keyWord=" + this.keyword)
      //     .then(() => {
      //     })
      //     .catch(() => {
      //     });
    },
    async getCabinets() {
      let result = await cabinetResource.list();
      if (result && result.data) {
        this.cabinets = result.data;
        if (this.cabinetSearchBySite){
          this.keyword = this.cabinetSearchBySite.cabinet.site
        }
      }
    },
    async fetchPosition() {
      const idCabinet = this.$route.query.keyWord
      if (idCabinet) {
        const {data} = await cabinetResource.get(idCabinet);
        this.cabinetSearchBySite = data
      }
    },
  }
}
</script>

<style type="text/css" lang="scss" scoped>
.search-blocks {
  position: fixed;
  z-index: 1000;
}

.el-icon-search {
  color: black;
  font-size: 1.5em;
}

.search-map {
  width: 351px;
  margin: 13px 8px 19px 50px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
}

.my-autocomplete {
  li {
    line-height: normal;
    padding: 7px 7px 7px 15px;

    .value {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .link {
      font-size: 12px;
      color: #b4b4b4;
    }
  }
}

.el-input--prefix .el-input__inner {
  padding-left: 40px;
}

.info {
  width: 130px;
  margin: 8px 154px 231px 0;
  border-radius: 2px;
  border: solid 1px var(--warm-grey);
  background-color: rgba(80, 80, 80, 0.8);
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 0;

  .el-row {
    margin: 0;
    border-bottom: 1px solid white;
    padding: 11px 25px;
  }
}
.search-icon {
  margin-top: 9px;
  margin-left: 6px;
}
</style>
