<template>
  <div class="notify-popup-bell">
    <el-dropdown
        trigger="click"
        placement="bottom-start"
        @click.native="getNotify"
    >
      <span class="el-dropdown-link">
        <div class="notify-icon">
          <el-badge
              :value="number"
              :max="99"
              type="danger"
              class="item"
              :hidden="number < 1"
          >
            <i class="el-icon-message-solid"></i>
          </el-badge>
        </div>
      </span>
      <el-dropdown-menu
          slot="dropdown"
          class="notify-dropdown"
          :class="{ 'empty-data': !notify }"
      >
        <div class="empty-data" v-if="notify.length === 0">
          Không có thông báo!
        </div>
        <!-- <div class="notify-content" v-on:scroll="loadMore" v-else> -->
        <div class="notify-content" v-else>
          <div class="read-all-notify">
            <el-dropdown trigger="click" @command="readAllNoti">
              <span class="el-dropdown-link">
                <i class="el-icon-more"></i>
              </span>
              <el-dropdown-menu
                  slot="dropdown"
                  class="dropdown-check-all-notify">
                <el-dropdown-item command>
                  <span>
                    <i class="el-icon-check"></i> Đánh dấu tất cả là đã đọc
                  </span>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
          <div
              class="item"
              v-for="(val, idx) in notify"
              :key="val.id + idx"
              :class="val.isReaded === true ? 'is-read' : ''"
          >
            <div @click="readNoti(val)" style="cursor: pointer">
              <el-row :gutter="20">
                <el-col :span="5" class="center-img">
                  <img v-if="val.type === 1" src="@/assets/images/noti-temp.png" alt=""/>
                  <img v-else-if="val.type === 3" src="@/assets/images/noti-humid.png" alt=""/>
                  <img v-else-if="val.type === 5" src="@/assets/images/noti-connect.png" alt="" width="40"/>
                  <img v-else-if="val.type === 6" src="@/assets/images/noti-capacity.png" alt=""/>
                  <img v-else-if="val.type === 7" src="@/assets/images/noti-capacity.png" alt=""/>
                  <img v-else-if="val.type === 8" src="@/assets/images/noti-door.png" alt=""/>
                  <img v-else-if="val.type === 9" src="@/assets/images/noti-smoke.png" alt=""/>
                  <!--                    <img v-else-if="val.type === 10" src="src/assets/images/noti-capacity.png" alt=""/>-->
                </el-col>
                <el-col :span="19">
                  <div class="grid-content bg-purple">
                    <div class="title">{{ val.title }}</div>
                    <div class="descript">{{ val.cabinetSite }}</div>
                    <div class="time">{{ parseDate(val.createdDate) }}</div>
                  </div>
                </el-col>
              </el-row>
            </div>
          </div>
        </div>
        <div class="view-list" v-if="notify.length > 0">
          <a href="/notify-list"
          ><span>Xem danh sách <i class="el-icon-d-arrow-right"></i></span
          ></a>
        </div>
      </el-dropdown-menu>
    </el-dropdown>

  </div>
</template>
<script type="text/javascript">

import IconTemp from "@/assets/images/noti-temp.png"
import IconHumid from "@/assets/images/noti-humid.png"
import IconConnect from "@/assets/images/noti-connect-popup.png"
import IconCapacity from "@/assets/images/noti-capacity.png"
import IconDoor from "@/assets/images/noti-door.png"
import IconSmoke from "@/assets/images/noti-smoke.png"
import Resource from "@/api/resource";
import moment from "moment";

const notifyResource = new Resource("cabinet/noti");
const allNotifyResource = new Resource("cabinet/noti/all");
export default {
  sockets: {
    EMIT_NOTIFY_USER: function (data) {
      this.showNotifyPopup(data)
      this.getListNotify()
    },
  },
  data() {
    return {
      number: 0,
      query: {
        page: 0,
        size: 10,
      },
      notify: [],
      lastScrollUpdate: 0,
      loadmore: false,
      isClickNotify: false,
      isPopup: true
    };
  },

  created() {
    this.getNotify()
  },
  methods: {
    getNotify() {
      this.query.page = 0;
      // this.notify = [];
      this.getListNotify();
    },
    async getListNotify() {
      const {data} = await notifyResource.list(this.query);
      if (data && data.notifyList.length > 0) {
        this.notify = data.notifyList;
        this.number = data.notReadCount
      }
    },
    async readNoti(val) {
      if (this.number > 0 && val.isReaded === false) {
        await notifyResource.update(val.id);
      }
      window.location.href = '/monitor/map?keyWord=' + val.idCabinet
    },
    async readAllNoti(command) {
      if (this.number > 0) {
        const {data} = await allNotifyResource.update();
        this.number = 0;
      }
    },
    showNotifyPopup(data) {
      let urlIcon = ''
      if (data.type === 1) {
        urlIcon = IconTemp
      } else if (data.type === 3) {
        urlIcon = IconHumid
      } else if (data.type === 5) {
        urlIcon = IconConnect
      } else if (data.type === 6) {
        urlIcon = IconCapacity
      } else if (data.type === 7) {
        urlIcon = IconCapacity
      } else if (data.type === 8) {
        urlIcon = IconDoor
      } else if (data.type === 9) {
        urlIcon = IconSmoke
      }
      const h = this.$createElement;
      this.$notify({
        title: null,
        duration: 6000,
        dangerouslyUseHTMLString: true,
        showClose: false,
        customClass: "notify-popup",
        message: h(
            "div",
            {
              class: "message",
              style: "cursor:pointer;",
              value: data,
              on: {click: this.readNoti.bind(this, data)},
            },
            [
              h(
                  "div",
                  {
                    class: "grid-content bg-purple center-img-popup",
                    style: "float: left; width: 50px;",
                  },
                  [
                    h("img", {
                      attrs: {
                        src: urlIcon, // this is now a module request
                        style: "height:42px",
                      },
                    }),
                  ]
              ),
              h(
                  "div",
                  {
                    style:
                        "float: left; width: calc(100% - 70px); padding-left: 10px;",
                  },
                  [
                    h("div", {class: "grid-content bg-purple"}, [
                      h(
                          "div",
                          {
                            class: "title",
                            style:
                                "font-size: 16px; font-weight: bolder; color: rgba(0, 0, 0, 1);",
                          },
                          data.title
                      ),
                      h(
                          "div",
                          {
                            class: "descript",
                            style:
                                "font-size: 12px; text-align: initial; margin-top: 2px; margin-bottom: 1px; color: rgba(0, 0, 0, 1); line-height: 17px;",
                          },
                          data.cabinetSite
                      ),
                      h(
                          "time",
                          {
                            class: "descript",
                            style:
                                "font-size: 12px; margin-top: 0px; margin-bottom: 0px; color: rgba(0,0,0,0.6);",
                          },
                          this.parseDate(data.createdDate)
                      ),
                    ]),
                  ]
              ),
            ]
        ),

      });
    },
    parseDate(millisecond) {
      return moment(millisecond).format('YYYY/MM/DD HH:mm:ss')
    }
  }
};
</script>

<style type="text/css" lang="scss">
.diag-damdong {
  .el-dialog {
    margin-top: 68px !important;
  }

  .el-dialog__header {
    padding: 10px 19px;
    background: #006fe3;

    h5 {
      line-height: 28px;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 20px;
      font-size: 15px;
      color: white;
    }

    .el-icon-close {
      color: white;
      font-size: 19px;
      position: relative;
      top: -5px;
    }
  }

  .el-dialog__body {
    line-height: initial;

    .content {
      margin-top: 15px;
      color: black;
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.center-img {
  text-align: center;
  padding-top: 12px
}

.center-img-popup {
  text-align: center;
  padding-top: 8px
}

.notify-gsxp {
  width: 360px !important;
  /*height: 106px !important;*/
  top: 62px !important;
  padding: 10px !important;

  .el-notification__group {
    margin: 0;
    width: 100%;
  }
}

.notify-popup {
  width: 360px !important;
  /*height: 106px !important;*/
  //top: 62px !important;
  padding: 10px !important;
  background: rgba(80, 80, 80, 0.8) !important;
  //margin-right: 360px;
  margin-top: 62px;

  .title {
    color: rgba(255, 255, 255, 0.87) !important;
    font-weight: bold !important;
  }

  .descript {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 12px;
  }

  .el-notification__group {
    margin: 0;
    width: 100%;
  }
}

.notify-popup-bell {
  float: left;
  margin-right: 15px;
  height: 100%;

  .notify-icon {
    cursor: pointer;
    color: white;
    font-size: 28px;
  }

  .el-badge__content.is-fixed {
    position: absolute;
    top: 22px !important;
    right: 12px;
    transform: translateY(-50%) translateX(100%);
    background: red;
    font-size: 11px;
    border: initial;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 22px;
  }

  .el-dropdown-link {
    outline: none !important;
  }
}

.notify-dropdown {
  top: 59px !important;
  /*left: 1527px !important; // fix sẽ bị lỗi cho màn hình nhỏ hơn*/
  margin-top: 0 !important;
  width: 372px;
  height: calc(100vh - 62px);
  padding-top: 5px !important;

  .popper__arrow {
    top: -24px !important;
    border-bottom-color: white !important;
    border-width: 12px !important;
  }

  .view-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #006fe3;
    height: 41px;
    background: white;
    line-height: 41px;
    font-size: 15px;

    span {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.notify-dropdown .notify-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 35px);
  padding-top: 10px;

  .el-col-19 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .item.is-read {
    background-color: #fff;
  }

  .item {
    border-bottom: 1px solid #dfdfdf;
    /* margin-bottom: 10px; */
    padding: 15px 15px 0 15px;
    background-color: #dfdfdf6b;

    &:hover {
      background-color: #dfdfdf;
    }

    .title {
      font-size: 15px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.87);
      line-height: 20px;
    }

    .descript {
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.87);
      line-height: 20px;
    }

    .time {
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.6);
      line-height: 20px;
    }
  }

  .item:last-child {
    border-bottom: initial;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.notify-dropdown .notify-content::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
  border-radius: 0;
  background-color: #f5f5f5;
}

.notify-dropdown .notify-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
  border-radius: 17px;
}

.notify-dropdown .notify-content::-webkit-scrollbar-thumb {
  border-radius: 17px;
  /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);*/
  background-color: #3333;
}

.notify-dropdown .empty-data {
  line-height: 50px;
  font-style: italic;
  color: #555;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
</style>

<style lang="scss">
.notify-content {
  .read-all-notify {
    text-align: right;
    padding-right: 20px;

    .el-icon-more {
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.dropdown-check-all-notify {
  li {
    font-size: 15px;
    color: #333;
    font-weight: bolder;

    .el-icon-check {
      font-size: 17px;
      color: black;
    }
  }
}

</style>
