<template>
  <div class="report-container">
    <div class="report-page traffic-flow-vehicle">
      <div class="chart-block">
        <div class="filter">
          <h4 style="margin-bottom: 0"> Báo cáo truy cập</h4>
          <ReportFilter @search="search"></ReportFilter>
        </div>
        <div class="chart-statistic">
          <el-row :gutter="20">
            <el-col>
              <div class="grid-content bg-purple chart-line">
                <div class="chart-search">
                  <h4 style="margin: 0">Biểu đồ truy cập tủ điện theo ngày</h4>
                </div>
                <AccessChart :key="reRenderChart" :data-report="dataReport" :target="searchQuery.accessType"
                             style="margin-top: 35px"></AccessChart>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="report-detail">
        <div class="header-table-report">
          <h4>Báo cáo chi tiết truy cập</h4>
          <el-select v-model="searchQuery.toDate" @change="changeTimeReportDetail()"
                     placeholder="- Lựa chọn -">
            <el-option
                v-for="item in this.dataReport.map(d => d.key)"
                :key="item"
                :label="item"
                :value="item">
            </el-option>
          </el-select>

          <xlsx-workbook disable-wrapper-click>
            <xlsx-sheet
                :collection="sheet.data"
                v-for="sheet in sheets"
                :key="sheet.name"
                :sheet-name="sheet.name"
            />
            <xlsx-download :filename="filename" ref="xlsx">

            </xlsx-download>
          </xlsx-workbook>
          <el-button class="export-xls" @click="download" type="primary"><i class="el-icon-document"></i> Xuất Excel</el-button>
        </div>
        <div style="padding: 10px 10px 10px 25px">
          <el-table
              :header-cell-style="{background: '#d0d5d9',color: 'black', height: '52px'}"
              ref="multipleTable"
              :data="dataDetailReport"
              height="50vh"
              border
              v-el-table-infinite-scroll="loadMore"
              style="width: 100%;border-radius: 4px;">
            <el-table-column label="Tên tủ" type="index" width="130">
              <template slot-scope="scope">
                <span>{{ scope.row.cabinetName }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Vị trí" prop="sourceName">
              <template slot-scope="scope">
                <span>{{ scope.row.cabinetSite }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Người truy cập" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span>{{ scope.row.actor }}</span>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Loại truy cập" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span v-if="scope.row.isOnline">Từ xa</span>
                  <span v-else>Tại chỗ</span>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Thời gian mở cửa" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span>{{ toDate(scope.row.startTime) }}</span>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Thời gian đóng cửa" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span v-if="scope.row.endTime">{{ toDate(scope.row.endTime) }}</span>
                  <span v-else>N/A</span>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Thời lượng truy cập (phút)" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span v-if="scope.row.endTime">
                    {{ getDiffMinutes(scope.row.startTime, scope.row.endTime) }}
                  </span>
                </div>
              </template>
            </el-table-column>

          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ReportFilter from './components/filterReportAccess'
import {Chart} from 'highcharts-vue'
import moment from 'moment'
import Resource from "@/api/resource";
import {XlsxDownload, XlsxSheet, XlsxWorkbook} from "vue-xlsx"
import elTableInfiniteScroll from "el-table-infinite-scroll";
import AccessChart from "./components/AccessChart";

const reportResource = new Resource("cabinet/report/access");
const reportDetailResource = new Resource("cabinet/report/access-detail");
export default {
  name: "energy",
  components: {AccessChart, ReportFilter, highcharts: Chart, XlsxWorkbook, XlsxSheet, XlsxDownload},
  directives: {
    'el-table-infinite-scroll': elTableInfiniteScroll
  },
  data() {
    return {
      filename: 'BaoCaoTruyCapExcel.xlsx',
      sheets: [{
        name: 'Sheet1',
        data: null
      }],
      flag_display_filter: true,
      searchQuery: {
        ids: [],
        accessType: [],
        fromDate: moment().subtract(8, "day").format('YYYY/MM/DD'),
        toDate: moment().subtract(1, "day").format('YYYY/MM/DD'),
        provinceId: null,
        districtId: null,
        wardId: null
      },
      dataDetailReport: [],
      fromDateDetail: moment().subtract(1, "day").format('YYYY/MM/DD'),
      toDateDetail: moment().subtract(1, "day").format('YYYY/MM/DD'),
      query: {
        page: 0,
        size: 20
      },
      total: 0,
      dataReport: [],
      reRenderChart: 0,
    }
  },
  methods: {
    toDate(millisecond) {
      return moment(millisecond).format('YYYY/MM/DD HH:mm:ss')
    },
    getDiffMinutes(from, to) {
      return moment(to).diff(moment(from), 'minutes')
    },
    search(query) {
      this.query.page = 0
      this.dataDetailReport = []
      this.searchQuery.ids = query.ids
      this.searchQuery.fromDate = moment(query.date[0]).format('YYYY/MM/DD')
      this.searchQuery.toDate = moment(query.date[1]).format('YYYY/MM/DD')

      if (moment(this.searchQuery.toDate, "YYYY/MM/DD").diff(moment(this.searchQuery.fromDate, "YYYY/MM/DD"), 'days') > 30) {
        this.$message({
          message: 'Khoảng thời gian thống kê tối đa là 30 ngày',
          type: 'warning',
        });
      } else {
        this.searchQuery.accessType = query.accessType
        this.getDetailReport()
        this.getLineReport()
      }
    },
    changeTimeReportDetail() {
      this.query.page = 0
      this.dataDetailReport = []
      this.fromDateDetail = this.searchQuery.toDate
      this.toDateDetail = this.searchQuery.toDate
      this.getDetailReport()
    },
    async getLineReport() {
      let params = {
        startTime: this.searchQuery.fromDate,
        endTime: this.searchQuery.toDate,
      }
      params.ids = this.searchQuery.ids
      if (this.searchQuery.accessType.length > 0) params.target = this.searchQuery.accessType.join(',')
      const response = await reportResource.store(params)
      if (this.searchQuery.accessType.length === 1) {
        if (this.searchQuery.accessType.includes('ONLINE')) {
          response.data.forEach(d => d.offline = null)
          this.dataReport = response.data
        } else {
          response.data.forEach(d => d.online = null)
          this.dataReport = response.data
        }
      } else {
        this.dataReport = response.data
      }
      this.reRenderChart += 1

    },
    getDetailReport() {
      let params = {
        startTime: this.fromDateDetail,
        endTime: this.toDateDetail,
        page: this.query.page,
        size: this.query.size
      }
      params.ids = this.searchQuery.ids
      if (this.searchQuery.accessType.length > 0) params.target = this.searchQuery.accessType.join(',')
      reportDetailResource.store(params).then(response => {
        this.dataDetailReport = this.dataDetailReport.concat(response.data.accessList)
        this.total = response.data.total
      }).catch(err => {
        console.log(err)
      })
    },
    loadMore() {
      if (this.total > (this.query.page + 1) * this.query.size) {
        this.query.page += 1;
        this.getDetailReport()
      }
    },
    async dataExport(data) {
      let params = {
        startTime: this.fromDateDetail,
        endTime: this.toDateDetail,
        page: 0,
        size: this.total
      }
      params.ids = this.searchQuery.ids
      if (this.searchQuery.accessType.length > 0) params.target = this.searchQuery.accessType.join(',')
      const response = await reportDetailResource.store(params)
      if (response && response.data) {
        const data = response.data.accessList
        let self = this
        if (data && data.length > 0) {
          self.sheets[0].data = []
          data.forEach(function (item, ind) {
            let itemImport = {
              'Tên tủ': item.cabinetName,
              'Vị trí': item.cabinetSite,
              'Thời gian mở cửa': self.toDate(item.startTime),
              'Thời gian đóng cửa': (item.endTime === null) ? 'N/A' : self.toDate(item.endTime),
              'Người truy cập': item.actor,
              'Loại truy cập': (item.isOnline) ? 'Từ xa' : 'Tại chỗ',
              'Thời lượng truy cập (phút)': (item.endTime === null) ? 'N/A' : self.getDiffMinutes(item.startTime, item.endTime)
            }
            self.sheets[0].data.push(itemImport)
          })
        }
      } else {
        this.$message({
          type: "error",
          message: "Export lỗi, vui lòng thử lại sau"
        })
      }

    },
    async download() {
      if (this.dataDetailReport.length > 0) {
        await this.dataExport()
        this.filename = 'BaoCaoTruyCap-' + moment().format('DD/MM/YYYY') + '.xlsx'
        this.$refs.xlsx.$props.filename = this.filename
        this.$refs.xlsx.download()
      } else {
        this.$message({
          type: "error",
          message: "Không thể export dữ liệu trống"
        })
      }
    },

  },
  async created() {
    await this.getLineReport()
    await this.getDetailReport()
  }
}
</script>

<style lang="scss" scoped>
.el-table th > .cell {
  font-weight: bold !important;
  text-align: center !important;
}

.highcharts-credits {
  display: none !important;
}

.chart-line-filter {
  width: 145px;
  padding: 15px 5px 5px 15px;
  /*margin-top: 30px !important;*/
  .el-checkbox {
    width: 100%;
    margin-bottom: 6px;
    font-weight: normal;
  }
}

.report-container {
  width: 100%;
  height: 100%;
  padding: 20px;

  .chart {
    width: 100%;
    /*overflow: visible !important;*/
  }

  .traffic-flow-vehicle {
    .chart-circle,
    .chart-line {
      box-shadow: 2px 2px 5px 0 rgba(174, 174, 174, 0.45);
      padding: 20px;
      padding-bottom: 5px;
    }

    .filter {
      padding: 20px;
      background: white;
      border-bottom: 1px solid #ded4d4;
      float: left;
      width: 100%;
      padding-bottom: 15px;

      h4 {
        margin-top: 0;
        font-size: 18px;
      }
    }

    .chart-search {
      float: left;
      width: 100%;

      h4 {
        float: left;
      }

      .report-filter-select {
        float: right;
      }

      .chart-filter-content {
        span {
          padding: 10px 20px;
          border: 1px solid #9999;
          position: relative;
          top: 9px;
          right: 14px;
          border-radius: 8px;
          cursor: pointer;
          width: 115px;
          display: inline-block;

          i {
            float: right !important;
          }
        }
      }
    }

    .chart-block {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }

    .report-detail {
      background: white;
      /*padding: 25px;*/
      margin-top: 20px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

      thead {
        th {
          img {
            position: relative;
            top: 1px;
            margin-right: 5px;
          }

          span {
            display: inline-block;
          }
        }
      }

      .header-table-report {
        float: left;
        width: 100%;
        padding: 10px 25px;

        h4 {
          float: left;
          margin: 0;
          margin-right: 25px;
          margin-top: 10px;
          font-size: 18px;
          color: #222;
        }

        .el-select {
          float: left;
          width: 140px;

          input {
            height: 40px;
          }
        }

        .export-xls {
          float: right;
          background: #1f7ff5;
          border-radius: 4px;
          height: 40px;
          color: white;
          font-weight: 500;
        }
      }

      .el-table th > .cell {
        text-align: left;
        color: black;
        font-weight: bolder;
      }

      .el-table tr > th,
      .el-table tr > td {
        padding-left: 20px;
      }
    }

    .chart-statistic {
      clear: both;
      background: white;
      padding: 10px 25px 25px 25px;

      h4 {
        font-size: 14px;
      }
    }

    .btn-export {
      background: #1e2e4a;
      border-color: #1e2e4a;
      float: right;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}
</style>
