<template>
  <div class="report-container">
    <div class="report-page traffic-flow-vehicle">
      <div class="chart-block">
        <div class="filter">
          <h4 style="margin-bottom: 0"> Báo cáo sự cố</h4>
          <ReportFilter @search="search"></ReportFilter>
        </div>
        <div class="chart-statistic">
          <el-row :gutter="20">
            <el-col :span="16">
              <div class="grid-content bg-purple chart-line">
                <div class="chart-search">
                  <h4>Biểu đồ so sánh tương quan sự cố</h4>
                </div>
                <highcharts class="chart" :options="chartOptions"></highcharts>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content bg-purple chart-circle">
                <h4>Biểu đồ so sánh tương quan các loại sự cố</h4>
                <highcharts class="chart" :options="getChartData()"></highcharts>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="report-detail">
        <div class="header-table-report">
          <h4>Báo cáo chi tiết sự cố</h4>
          <el-select v-if="flag_display_filter" v-model="timeRangerValue" @change="changeTimeReportDetail()"
                     placeholder="- Lựa chọn -">
            <el-option
                v-for="item in this.timeRanger"
                :key="item.value"
                :label="item.label"
                :value="item.value">
            </el-option>
          </el-select>

          <xlsx-workbook  disable-wrapper-click :key="downloadKey" >
            <xlsx-sheet
                :collection="sheet.data"
                v-for="sheet in sheets"
                :key="sheet.name"
                :sheet-name="sheet.name"
            />
            <xlsx-download :filename="filename" ref="xlsx" >

            </xlsx-download>
          </xlsx-workbook>
          <el-button class="export-xls" @click="download" type="primary"><i class="el-icon-document"></i> Xuất Excel</el-button>
        </div>
        <div style="padding: 10px 10px 10px 25px">
          <el-table
              :header-cell-style="{background: '#d0d5d9',color: 'black', height: '52px'}"
              ref="multipleTable"
              :data="dataDetailReport"
              height="50vh"
              border
              v-el-table-infinite-scroll="loadMore"
              style="width: 100%;border-radius: 4px;">
            <el-table-column label="Tên tủ" type="index" width="130">
              <template slot-scope="scope">
                <span>{{ scope.row.cabinetName }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Vị trí" prop="sourceName">
              <template slot-scope="scope">
                <span>{{ scope.row.cabinetSite }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Thời gian" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span>{{ parseDate(scope.row.createdDate) }}</span>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Loại sự cố" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span>{{ getAccidentName(scope.row.type) }}</span>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Chi tiết sự cố" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span>{{ getAccidentDetail(scope.row) }}</span>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Trạng thái" prop="siteName">
              <template slot-scope="scope">
                <div style="text-align: center; width: 100%">
                  <span v-if="scope.row.isProcessed" style="color: #1f7ff5">Đã xử lý</span>
                  <span v-else style="color: #ff6161">Chưa xử lý</span>
                </div>
              </template>
            </el-table-column>

          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ReportFilter from './components/filterReportAccident'
import {Chart} from 'highcharts-vue'
import moment from 'moment'
import Resource from "@/api/resource";
import {XlsxWorkbook, XlsxSheet, XlsxDownload} from "vue-xlsx"
import elTableInfiniteScroll from "el-table-infinite-scroll";

const pieReportResource = new Resource("cabinet/report/accident-pie");
const reportResource = new Resource("cabinet/report/accident");
const reportDetailResource = new Resource("cabinet/report/accident-detail");
export default {
  name: "accident",
  components: {ReportFilter, highcharts: Chart, XlsxWorkbook, XlsxSheet, XlsxDownload},
  directives: {
    'el-table-infinite-scroll': elTableInfiniteScroll
  },
  data() {
    return {
      filename: 'BaoCaoSuCoExcel.xlsx',
      sheets: [{
        name: 'Sheet1',
        data: null
      }],
      flag_display_filter: true,
      searchQuery: {
        ids: [],
        siteValue: '',
        fromDate: moment().subtract(1, "day").format('YYYY/MM/DD'),
        toDate: moment().subtract(1, "day").format('YYYY/MM/DD'),
        type: 'day',
        timeRangerValue: 1,
        accidentType: [],
        line: null
      },
      timeRangerValue: null,
      dataDetailReport: [],
      fromDateDetail: moment().subtract(1, "day").format('YYYY/MM/DD'),
      toDateDetail: moment().subtract(1, "day").format('YYYY/MM/DD'),
      dataMerch: [],
      dataFlow: [],
      downloadKey: 0,
      chartOptions: {
        credits: {
          enabled: false
        },
        title: {
          text: ""
        },
        colors: ['#FF5947', '#FFC274', '#AED760', '#00A748', '#b8b8b8',
          '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'],
        subtitle: {
          // text: ""
        },
        yAxis: {
          title: {
            text: ""
          }
        },
        xAxis: {
          categories: [],
          labels: {
            formatter: function () {
              return this.value;
            }
          }
        },
        legend: {
          enabled: true,
          // layout: "vertical",
          // align: "right",
          // verticalAlign: "middle"
          squareSymbol: false,
          symbolWidth: 10,
          // symbolRadius: 2000,
        },
        tooltip: {
          enabled: true,
          useHTML: true,
        },
        plotOptions: {
          series: {
            label: {
              connectorAllowed: false
            },
            marker: {
              enabled: false
            }
            // pointStart: 1
          },
          line: {
            events: {
              click: ({point}) => {
                this.lineChartClick(point.series.name)
              }
            }
          }
        },
        series: [],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500
              },
              chartOptions: {
                legend: {
                  layout: "horizontal",
                  align: "center",
                  // verticalAlign: "bottom"
                }
              }
            }
          ]
        }
      },
      query: {
        page: 0,
        size: 20
      },
      total: 0,
      totalPie: 0,
    }
  },
  methods: {
    initTimeRanger() {
      let date1 = moment().subtract(1, "day")
      let date2 = moment().subtract(2, "day")
      let date3 = moment().subtract(3, "day")
      let date1Value = moment().subtract(1, "day").format('YYYY/MM/DD')
      let date2Value = moment().subtract(2, "day").format('YYYY/MM/DD')
      let date3Value = moment().subtract(3, "day").format('YYYY/MM/DD')
      let dow1 = date1.isoWeekday()
      let dow2 = date2.isoWeekday()
      let dow3 = date3.isoWeekday()
      date1 = dow1 + 1
      date2 = dow2 + 1
      date3 = dow3 + 1
      this.timeRanger = [{
        value: date1Value,
        label: date1 === 8 ? 'CN' : 'Thứ ' + date1
      }, {
        value: date2Value,
        label: date2 === 8 ? 'CN' : 'Thứ ' + date2
      }, {
        value: date3Value,
        label: date3 === 8 ? 'CN' : 'Thứ ' + date3
      }]
      this.timeRanger = this.timeRanger.slice(0, 1)
      this.timeRangerValue = date1Value
    },
    detectTime(type, number) {
      if (type === 'day') {
        let date1 = moment().subtract(1, "day")
        let date2 = moment().subtract(2, "day")
        let date3 = moment().subtract(3, "day")
        let date1Value = moment().subtract(1, "day").format('YYYY/MM/DD')
        let date2Value = moment().subtract(2, "day").format('YYYY/MM/DD')
        let date3Value = moment().subtract(3, "day").format('YYYY/MM/DD')
        let dow1 = date1.isoWeekday()
        let dow2 = date2.isoWeekday()
        let dow3 = date3.isoWeekday()
        date1 = dow1 + 1
        date2 = dow2 + 1
        date3 = dow3 + 1
        this.timeRanger = [{
          value: date1Value,
          label: date1 === 8 ? 'CN' : 'Thứ ' + date1
        }, {
          value: date2Value,
          label: date2 === 8 ? 'CN' : 'Thứ ' + date2
        }, {
          value: date3Value,
          label: date3 === 8 ? 'CN' : 'Thứ ' + date3
        }]
        this.timeRanger = this.timeRanger.slice(0, number);
        if (number === 1) {
          this.timeRangerValue = date1Value
        }
        if (number === 2) {
          this.timeRangerValue = date2Value
        }
        if (number === 3) {
          this.timeRangerValue = date3Value
        }
        let data = {
          fromDate: this.timeRangerValue,
          toDate: date1Value,
        }
        let data1 = {
          fromDate: date1Value,
          toDate: date1Value,
        }
        this.searchQuery.fromDate = this.timeRangerValue
        this.searchQuery.toDate = date1Value
        this.getDetailReport(true, data1)
        this.getPercentFlow(true,data1)
        this.getLineReport(true, data)
        this.timeRangerValue = date1Value
      } else
      if (type === 'week') {
        let date = moment().subtract(1, "week")
        // const date11 = moment().subtract(1, "week").isoWeekday(7).format('YYYY/MM/DD')
        // console.log(date11)
        let date1Value = moment().subtract(1, "week")
        let date2Value = moment().subtract(2, "week")
        let date3Value = moment().subtract(3, "week")
        this.timeRanger = [{
          value: 1,
          label: 'Tuần ' + date1Value.isoWeek() + '-' + date1Value.year()
        }, {
          value: 2,
          label: 'Tuần ' + date2Value.isoWeek() + '-' + date2Value.year()
        }, {
          value: 3,
          label: 'Tuần ' + date3Value.isoWeek() + '-' + date3Value.year()
        }]
        this.timeRanger = this.timeRanger.slice(0, number)
        this.timeRangerValue = 1
        let data = null
        let data1 = null
        if (number === 1) {
          data = {
            fromDate: date1Value.isoWeekday(1).format('YYYY/MM/DD'),
            toDate: date1Value.isoWeekday(7).format('YYYY/MM/DD'),
          }
        }
        if (number === 2) {
          data = {
            fromDate: date2Value.isoWeekday(1).format('YYYY/MM/DD'),
            toDate: date1Value.isoWeekday(7).format('YYYY/MM/DD'),
          }
        }
        if (number === 3) {
          data = {
            fromDate: date3Value.isoWeekday(1).format('YYYY/MM/DD'),
            toDate: date1Value.isoWeekday(7).format('YYYY/MM/DD'),
          }
        }
        data1 = {
          fromDate: date1Value.isoWeekday(1).format('YYYY/MM/DD'),
          toDate: date1Value.isoWeekday(7).format('YYYY/MM/DD'),
        }
        this.searchQuery.fromDate = data.fromDate
        this.searchQuery.toDate = data.toDate
        this.getDetailReport(true, data1)
        this.getPercentFlow(true,data1)
        this.getLineReport(true, data)
      } else
      if (type === 'month') {
        let date1Value = moment().subtract(1, "month")
        let date2Value = moment().subtract(2, "month")
        let date3Value = moment().subtract(3, "month")
        this.timeRanger = [{
          value: 1,
          label: 'Tháng ' + date1Value.format('MM') + '-' + date1Value.year()
        }, {
          value: 2,
          label: 'Tháng ' + date2Value.format('MM') + '-' + date1Value.year()
        }, {
          value: 3,
          label: 'Tháng ' + date3Value.format('MM') + '-' + date1Value.year()
        }]
        this.timeRanger = this.timeRanger.slice(0, number)
        this.timeRangerValue = 1
        let data = null
        let data1 = null
        if (number === 1) {
          data = {
            fromDate: moment().subtract(1, "month").startOf('month').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "month").endOf('month').format('YYYY/MM/DD'),
          }
        }
        if (number === 2) {
          data = {
            fromDate: moment().subtract(2, "month").startOf('month').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "month").endOf('month').format('YYYY/MM/DD'),
          }
        }
        if (number === 3) {
          data = {
            fromDate: moment().subtract(3, "month").startOf('month').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "month").endOf('month').format('YYYY/MM/DD'),
          }
        }
        data1 = {
          fromDate: moment().subtract(1, "month").startOf('month').format('YYYY/MM/DD'),
          toDate: moment().subtract(1, "month").endOf('month').format('YYYY/MM/DD'),
        }
        this.searchQuery.fromDate = data.fromDate
        this.searchQuery.toDate = data.toDate
        this.getDetailReport(true, data1)
        this.getPercentFlow(true,data1)
        this.getLineReport(true, data)
      } else
      if (type === 'year') {
        let date1Value = moment().subtract(1, "year")
        let date2Value = moment().subtract(2, "year")
        let date3Value = moment().subtract(3, "year")
        this.timeRanger = [{
          value: 1,
          label: 'Năm ' + date1Value.year()
        }, {
          value: 2,
          label: 'Năm ' + date2Value.year()
        }, {
          value: 3,
          label: 'Năm ' + date3Value.year()
        }]
        this.timeRanger = this.timeRanger.slice(0, number)
        this.timeRangerValue = 1
        let data = null
        let data1 = null
        if (number === 1) {
          data = {
            fromDate: moment().subtract(1, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "year").endOf('year').format('YYYY/MM/DD'),
          }
          data1 = {
            fromDate: moment().subtract(1, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "year").endOf('year').format('YYYY/MM/DD'),
          }
        }
        if (number === 2) {
          data = {
            fromDate: moment().subtract(2, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "year").endOf('year').format('YYYY/MM/DD'),
          }
          data1 = {
            fromDate: moment().subtract(2, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(2, "year").endOf('year').format('YYYY/MM/DD'),
          }
        }
        if (number === 3) {
          data = {
            fromDate: moment().subtract(3, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "year").endOf('year').format('YYYY/MM/DD'),
          }
          data1 = {
            fromDate: moment().subtract(3, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(3, "year").endOf('year').format('YYYY/MM/DD'),
          }
        }
        data1 = {
          fromDate: moment().subtract(1, "year").startOf('year').format('YYYY/MM/DD'),
          toDate: moment().subtract(1, "year").endOf('year').format('YYYY/MM/DD'),
        }
        this.searchQuery.fromDate = data.fromDate
        this.searchQuery.toDate = data.toDate
        this.getDetailReport(true, data1)
        this.getPercentFlow(true,data1)
        this.getLineReport(true, data)
      }
    },
    search(query) {
      this.query.page = 0
      this.dataDetailReport = []
      this.searchQuery.ids = query.ids
      this.searchQuery.accidentType = query.accidentType

      this.searchQuery.type = query.type

      if (query.date !== null) {
        this.flag_display_filter = false
        let data = {
          fromDate: moment(query.date[0]).format('YYYY/MM/DD'),
          toDate: moment(query.date[1]).format('YYYY/MM/DD'),
        }
        this.searchQuery.fromDate = moment(query.date[0]).format('YYYY/MM/DD')
        this.searchQuery.toDate = moment(query.date[1]).format('YYYY/MM/DD')
        this.getDetailReport(true,data)
        this.getPercentFlow(true,data)
        this.getLineReport(true,data)
      } else {
        this.flag_display_filter = true
        this.detectTime(query.type, query.timeRangerValue)
      }
    },
    changeTimeReportDetail() {
      let data = null
      this.query.page = 0
      this.dataDetailReport = []
      if (this.searchQuery.type === 'day') {
        data = {
          fromDate: this.timeRangerValue,
          toDate: this.timeRangerValue,
        }
      }
      if (this.searchQuery.type === 'week') {
        let date1Value = moment().subtract(1, "week")
        let date2Value = moment().subtract(2, "week")
        let date3Value = moment().subtract(3, "week")
        if (this.timeRangerValue === 1) {
          data = {
            fromDate: date1Value.isoWeekday(1).format('YYYY/MM/DD'),
            toDate: date1Value.isoWeekday(7).format('YYYY/MM/DD'),
          }
        }
        if (this.timeRangerValue === 2) {
          data = {
            fromDate: date2Value.isoWeekday(1).format('YYYY/MM/DD'),
            toDate: date2Value.isoWeekday(7).format('YYYY/MM/DD'),
          }
        }
        if (this.timeRangerValue === 3) {
          data = {
            fromDate: date3Value.isoWeekday(1).format('YYYY/MM/DD'),
            toDate: date3Value.isoWeekday(7).format('YYYY/MM/DD'),
          }
        }
      }
      if (this.searchQuery.type === 'month') {
        if (this.timeRangerValue === 1) {
          data = {
            fromDate: moment().subtract(1, "month").startOf('month').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "month").endOf('month').format('YYYY/MM/DD'),
          }
        }
        if (this.timeRangerValue === 2) {
          data = {
            fromDate: moment().subtract(2, "month").startOf('month').format('YYYY/MM/DD'),
            toDate: moment().subtract(2, "month").endOf('month').format('YYYY/MM/DD'),
          }
        }
        if (this.timeRangerValue === 3) {
          data = {
            fromDate: moment().subtract(3, "month").startOf('month').format('YYYY/MM/DD'),
            toDate: moment().subtract(3, "month").endOf('month').format('YYYY/MM/DD'),
          }
        }
      }
      if (this.searchQuery.type === 'year') {
        if (this.timeRangerValue === 1) {
          data = {
            fromDate: moment().subtract(1, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(1, "year").endOf('year').format('YYYY/MM/DD'),
          }
        }
        if (this.timeRangerValue === 2) {
          data = {
            fromDate: moment().subtract(2, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(2, "year").endOf('year').format('YYYY/MM/DD'),
          }
        }
        if (this.timeRangerValue === 3) {
          data = {
            fromDate: moment().subtract(3, "year").startOf('year').format('YYYY/MM/DD'),
            toDate: moment().subtract(3, "year").endOf('year').format('YYYY/MM/DD'),
          }
        }
      }
      this.searchQuery.fromDate = data.fromDate
      this.searchQuery.toDate = data.toDate


      this.getDetailReport(true, data)
    },
    getLineReport() {
      let params = {
        startTime: this.searchQuery.fromDate,
        endTime: this.searchQuery.toDate,
        type: this.searchQuery.type,
      }
      params.ids = this.searchQuery.ids
      params.target = this.searchQuery.accidentType
      reportResource.store(params).then(response => {
        this.formatDataLineChartNewData(response.data)
      }).catch(err => {
        console.log(err)
      })
    },
    getChartData() {
      // console.log(this.total)
      return {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          renderTo: 'container',
          type: "pie",
        },
        credits: {
          enabled: false
        },
        colors: ['#FF5947', '#FFC274', '#AED760', '#00A748', '#b8b8b8',
          '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'],
        title: {
          useHTML: false,
          // text: "<span style='font-size:19px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +this.total + "</span></span>",
          text: "<span style='display:inline-block;text-align:center;'><span style='font-size:13px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" + "<span style='font-size:19px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" + this.totalPie + "</span></span>",
          align: 'center',
          verticalAlign: 'middle',
          x: -85,
          // y: -10,
        },
        tooltip: {
          enabled: false,
          // /pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>",
          useHTML: true,
          // formatter: function () {
          //     return this.key + '<br>'
          //         + '</b> Persentase: <b>' + this.percentage.toFixed(2) + '% </b>('+ this.point.y + ' Transaction)<br>'
          //         + 'Rp.' + this.point.money;
          // }
        },
        legend: {
          layout: "vertical",
          align: "right",
          verticalAlign: "middle",
          itemWidth: 115,
          x: 0,
          y: 0,
          itemMarginBottom: 20,
          itemStyle: {
            "color": "#333333",
            "cursor": "pointer",
            "fontSize": "14px",
            "fontWeight": 500,
            "textOverflow": "ellipsis"
          },
          labelFormatter: function () {
            return this.options.name;
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              // crop: false,
              filter: {
                operator: '>',
                property: 'y',
                value: 0
              },
              // format: "<b>{point.name}</b>: {point.percentage:.1f} %",
              distance: 10,
              formatter: function () {
                // return this.key + '<br>' + this.percentage.toFixed(2) + '%'
                return this.percentage.toFixed(2) + '%'
              },
              style: {
                color: 'black',
                textOutline: false
              }
            },
            showInLegend: true
          },
        },
        series:
            [
              {
                // name: "Prosentase",
                // type: 'pie',
                colorByPoint: true,
                innerSize: '50%',
                data: this.dataMerch,
              }
            ]
      }
    },
    async getDetailReport(flag = false, date = null) {
      let params = {
        startTime: this.fromDateDetail,
        endTime: this.toDateDetail,
        type: this.searchQuery.type,
        page: this.query.page,
        size: this.query.size
      }
      if (flag) {
        params.startTime = date.fromDate
        params.endTime = date.toDate
        this.fromDateDetail = date.fromDate
        this.toDateDetail = date.toDate
      }
      params.ids = this.searchQuery.ids
      params.target = this.searchQuery.accidentType
      reportDetailResource.store(params).then(response => {
        this.dataDetailReport = this.dataDetailReport.concat(response.data.data)
        this.total = response.data.total
      }).catch(err => {
        console.log(err)
      })
    },
    loadMore() {
      if (this.total > (this.query.page + 1) * this.query.size) {
        this.query.page += 1;
        this.getDetailReport()
      }
    },
    formatDataLineChartNewData(data) {
      let self = this
      self.chartOptions.series = []
      if (data && data.label) {
        self.chartOptions.xAxis.categories = data.label
        self.chartOptions.series = data.value
      }
    },
    lineChartClick(time = null) {
      let flag = this.detectTimeSearch(this.searchQuery.type, time)

      if (this.searchQuery.type === 'day') {
        this.searchQuery.line = flag
      } else
      if (this.searchQuery.type === 'week') {
        const date = flag.split("-")
        this.searchQuery.fromDate = moment(date[1]).add(date[0], 'weeks').startOf('week').add(1,'days').format("YYYY/MM/DD")
        this.searchQuery.toDate = moment(date[1]).add(date[0], 'weeks').endOf('week').add(1,'days').format("YYYY/MM/DD")
      } else
      if (this.searchQuery.type === 'month') {
        const date = flag.split("-")
        this.searchQuery.fromDate = moment(date[1]).add(date[0] - 1, 'months').startOf('months').format("YYYY/MM/DD")
        this.searchQuery.toDate = moment(date[1]).add(date[0] - 1, 'months').endOf('months').format("YYYY/MM/DD")
      } else
      if (this.searchQuery.type === 'year') {
        const year = flag
        this.searchQuery.fromDate = moment(year).startOf('years').format("YYYY/MM/DD")
        this.searchQuery.toDate = moment(year).endOf('years').format("YYYY/MM/DD")
      }
      let params = {
        startTime: this.searchQuery.fromDate,
        endTime: this.searchQuery.toDate,
        ids: this.searchQuery.ids,
        type: this.searchQuery.type,
        target: this.searchQuery.accidentType,
        line: this.searchQuery.line
      }
      pieReportResource.store(params).then(response => {
        this.dataFlow = response.data
        this.getDataFromAPI()
      }).catch(err => {

      })
    },
    detectTimeSearch(flag, time) {
      let result = null
      if (flag === 'day') {
        switch (time) {
          case 'Thứ 2':
            result = 1;
            break;
          case 'Thứ 3':
            result = 2;
            break;
          case 'Thứ 4':
            result = 3;
            break;
          case 'Thứ 5':
            result = 4;
            break;
          case 'Thứ 6':
            result = 5;
            break;
          case 'Thứ 7':
            result = 6;
            break;
          case 'CN':
            result = 7;
        }
      }
      if (flag === 'week') {
        result = time.replace("Tuần ", "")
      }
      if (flag === 'month') {
        result = time.replace("Tháng ", "")
      }
      if (flag === 'year') {
        result = time.replace("Năm ", "")
      }
      return result
    },
    async getPercentFlow(flag=false,date=null) {
      let params = {
        startTime: this.searchQuery.fromDate,
        endTime: this.searchQuery.toDate,
        type: this.searchQuery.type,
      }
      if(flag) {
        params.startTime = date.fromDate
        params.endTime = date.toDate
      }
      params.ids = this.searchQuery.ids
      params.target = this.searchQuery.accidentType
      pieReportResource.store(params).then(response => {
        this.dataFlow = response.data
        this.getDataFromAPI()
      }).catch(err => {
        console.log(err)
      })
    },
   getDataFromAPI() {
      this.dataMerch = []
      this.totalPie = 0

      this.dataFlow.forEach(element => {
        this.totalPie += Number(element.value)
        this.dataMerch.push({
          name: ((element.targetName !== null) ? element.targetName : ''),
          y: element.value,
        })
      })
      this.totalPie = this.formatNumber(this.totalPie)
    },
    formatNumber(amount, decimalCount = 2, decimal = ".", thousands = ",") {
      try {
        decimalCount = Math.abs(decimalCount);
        decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

        const negativeSign = amount < 0 ? "-" : "";

        let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
        let j = (i.length > 3) ? i.length % 3 : 0;

        return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands);
      } catch (e) {
        console.log(e)
      }
    },
    parseDate(millisecond){
      return moment(millisecond).format('YYYY/MM/DD HH:mm:ss')
    },
    getAccidentName(key) {
      let name = '';
      switch (key) {
        case 1:
          name = "Nhiệt độ cao";
          break;
        // case 2:
        //   name = "Nhiệt độ thấp";
        //   break;
        case 3:
          name = "Độ ẩm cao";
          break;
        // case 4:
        //   name = "Độ ẩm thấp";
        //   break;
        case 5:
          name = "Mất kết nối";
          break;
        case 6:
          name = "Công suất thấp";
          break;
        case 7:
          name = "Công suất cao";
          break;
        case 8:
          name = "Cửa mở";
          break;
        case 9:
          name = "Báo khói";
          break;
        // case 10:
        //   name = "Mất nguồn điện";
        //   break;
      }
      return name;
    },
    getAccidentDetail(accident){
      if (accident.detail.length > 0) {
        return accident.detail
      } else {
        if (accident.isProcessed) {
          return this.getDiffMinutes(accident.createdDate, accident.modifiedDate)
        } else {
          return this.getDiffMinutes(accident.createdDate, moment().valueOf())
        }
      }
    },
    getDiffMinutes(from, to) {
      return moment(to).diff(moment(from), 'minutes') + " phút"
    },
    async dataExport() {
      let params = {
        startTime: this.fromDateDetail,
        endTime: this.toDateDetail,
        type: this.searchQuery.type,
        page: 0,
        size: this.total
      }
      params.ids = this.searchQuery.ids
      params.target = this.searchQuery.accidentType
      const response = await reportDetailResource.store(params)
      if (response && response.data) {
        const data = response.data.data
        let self = this
        if (data && data.length > 0) {
          self.sheets[0].data = []
          data.forEach(function (item, ind) {
            let name = '';
            switch (item.type) {
              case 1:
                name = "Nhiệt độ cao";
                break;
              case 2:
                name = "Nhiệt độ thấp";
                break;
              case 3:
                name = "Độ ẩm cao";
                break;
              case 4:
                name = "Độ ẩm thấp";
                break;
              case 5:
                name = "Mất kết nối";
                break;
              case 6:
                name = "Công suất thấp";
                break;
              case 7:
                name = "Công suất cao";
                break;
              case 8:
                name = "Cửa mở";
                break;
              case 9:
                name = "Báo khói";
                break;
              case 10:
                name = "Mất nguồn điện";
                break;
            }
            let itemImport = {
              'Tên tủ': item.cabinetName,
              'Vị trí': item.cabinetSite,
              'Thời gian': moment.unix(item.createdDate / 1000).format('YYYY/MM/DD hh:mm:ss'),
              'Loại sự cố': name,
              'Chi tiết': '',
              'Trạng thái': item.isProcessed ? 'Đã xử lý' : 'Chưa xử lý'
            }
            self.sheets[0].data.push(itemImport)
          })
        }
      } else {
        this.$message({
          type: "error",
          message: "Export lỗi, vui lòng thử lại sau"
        })
      }
    },
    async download() {
      if (this.dataDetailReport.length > 0) {
        await this.dataExport()
        this.filename = 'BaoCaoSuCo-' + moment().format('DD/MM/YYYY') + '.xlsx'
        this.$refs.xlsx.$props.filename = this.filename
        this.$refs.xlsx.download()
      } else {
        this.$message({
          type: "error",
          message: "Không thể export dữ liệu trống"
        })
      }
    },
  },

  mounted() {
    this.getDetailReport()
    this.getPercentFlow()
    this.getLineReport()
    this.initTimeRanger()
  }
}
</script>

<style lang="scss" scoped>
.el-table th > .cell {
  font-weight: bold !important;
  text-align: center !important;
}

.highcharts-credits {
  display: none !important;
}

.chart-line-filter {
  width: 145px;
  padding: 15px 5px 5px 15px;
  /*margin-top: 30px !important;*/
  .el-checkbox {
    width: 100%;
    margin-bottom: 6px;
    font-weight: normal;
  }
}

.report-container {
  width: 100%;
  height: 100%;
  padding: 20px;

  .chart {
    width: 100%;
    /*overflow: visible !important;*/
  }

  .traffic-flow-vehicle {
    .chart-circle,
    .chart-line {
      box-shadow: 2px 2px 5px 0 rgba(174, 174, 174, 0.45);
      padding: 20px;
      padding-bottom: 5px;
    }

    .filter {
      padding: 20px;
      background: white;
      border-bottom: 1px solid #ded4d4;
      float: left;
      width: 100%;
      padding-bottom: 15px;

      h4 {
        margin-top: 0;
        font-size: 18px;
      }
    }

    .chart-search {
      float: left;
      width: 100%;

      h4 {
        float: left;
      }

      .report-filter-select {
        float: right;
      }

      .chart-filter-content {
        span {
          padding: 10px 20px;
          border: 1px solid #9999;
          position: relative;
          top: 9px;
          right: 14px;
          border-radius: 8px;
          cursor: pointer;
          width: 115px;
          display: inline-block;

          i {
            float: right !important;
          }
        }
      }
    }

    .chart-block {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }

    .report-detail {
      background: white;
      /*padding: 25px;*/
      margin-top: 20px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

      thead {
        th {
          img {
            position: relative;
            top: 1px;
            margin-right: 5px;
          }

          span {
            display: inline-block;
          }
        }
      }

      .header-table-report {
        float: left;
        width: 100%;
        padding: 10px 25px;

        h4 {
          float: left;
          margin: 0;
          margin-right: 25px;
          margin-top: 10px;
          font-size: 18px;
          color: #222;
        }

        .el-select {
          float: left;
          width: 140px;

          input {
            height: 40px;
          }
        }

        .export-xls {
          float: right;
          background: #1f7ff5;
          border-radius: 4px;
          height: 40px;
          color: white;
          font-weight: 500;
        }
      }

      .el-table th > .cell {
        text-align: left;
        color: black;
        font-weight: bolder;
      }

      .el-table tr > th,
      .el-table tr > td {
        padding-left: 20px;
      }
    }

    .chart-statistic {
      clear: both;
      background: white;
      padding: 10px 25px 25px 25px;

      h4 {
        font-size: 14px;
      }
    }

    .btn-export {
      background: #1e2e4a;
      border-color: #1e2e4a;
      float: right;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}
</style>
