<template>
    <div id="map" ref="map"></div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import Feature from "ol/Feature";
import View from "ol/View";
import { defaults as defaultControls, FullScreen } from "ol/control";
import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer';
import { Vector as VectorSource } from 'ol/source';
import XYZ from 'ol/source/XYZ';
import Point from 'ol/geom/Point';
import { Style, Icon} from 'ol/style';
import { fromLonLat } from 'ol/proj';
import iconPoint from '@/assets/images/icon_map.png';

export default {
    name: "point-map-detail",
    props: {
        objLonLat: {
            type: Object,
            default: function() {
                return {};
            }
        },
    },
    watch: {
        objLonLat() {
            this.renderMap();
        },
    },
    data() {
        return {
            zoom: 16,
            minZoom: 4,
        };
    },
    methods: {
        initMap(googleMapLayer, iconLayer) {
            document.getElementById("map").innerHTML = "";
            return new Map({
                target: 'map',
                controls: defaultControls().extend([new FullScreen()]),
                layers: [
                    googleMapLayer,
                    iconLayer
                ],
                view: new View({
                    center: fromLonLat([parseFloat(this.objLonLat.longitude), parseFloat(this.objLonLat.latitude)]),
                    zoom: this.zoom,
                    minZoom: this.minZoom
                })
            });
        },
        createGoogleMapLayer() {
            return new TileLayer({
                source: new XYZ({ url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga' })
            });
        },
        isValidLngLat(lng, lat) {
            if(lng < -180 || lng > 180) {
                return false;
            }
            else if(lat < -90 || lat > 90) {
                return false;
            }
            return true;
        },
        createIconLayer(icon) {
            let vectorSource = new VectorSource({
                features: []
            });
            if (this.isValidLngLat(icon.longitude, icon.latitude)) { // long, lat
                let newFeature = new Feature({
                    geometry: new Point(fromLonLat([icon.longitude, icon.latitude])),
                    name: icon.id
                });
                let iconStyle = new Style({
                    image: new Icon({
                        anchor: [0.5, 0.5],
                        src: iconPoint,
                        scale: 0.5
                    }),
                });
                newFeature.setStyle(iconStyle);
                vectorSource.addFeature(newFeature);
            }
            return new VectorLayer({
                source: vectorSource
            });
        },

        renderMap() {
          let googleMapLayer = this.createGoogleMapLayer();
          let iconLayer = this.createIconLayer(this.objLonLat);
          this.initMap(googleMapLayer, iconLayer);
        }
    },
    mounted() {
        this.renderMap();
    },
};
</script>

<style lang="scss" scoped>
    #map {
        height: 300px;
        margin-bottom: 15px;
    }
</style>
