<template>
  <div class="navbar">
    <!-- <hamburger id="hamburger-container" :is-active="sidebar.opened" class="hamburger-container" @mouseOver="mouseOver" @mouseout="mouseout" @toggleClick="toggleSideBar" /> -->
    <breadcrumb id="breadcrumb-container" class="breadcrumb-container" />
    <div class="right-menu">
      <Notify></Notify>
      <el-dropdown class="avatar-container right-menu-item hover-effect" trigger="click">
        <div class="avatar-wrapper">
          <span class="user-name">{{ name }}</span>
          <img :src="avatar" class="user-avatar" v-if="avatar">
          <img src="@/assets/images/avatar_default.jpg" class="user-avatar" v-else>
        </div>
        <el-dropdown-menu slot="dropdown">
          <router-link v-show="userId !== null" :to="`/profile`">
            <el-dropdown-item>
              {{ $t('navbar.profile') }}
            </el-dropdown-item>
          </router-link>
          <el-dropdown-item divided>
            <span style="display:block;" @click="logout">{{ $t('navbar.logOut') }}</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>
<script>

import { mapGetters } from 'vuex';
import Breadcrumb from '@/components/Breadcrumb';
import Hamburger from '@/components/Hamburger';
import Notify from '@/components/Notify'
export default {
  components: {
    Breadcrumb,
    Hamburger,
    Notify
  },
  data() {
    return {
      canRead: true
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'name',
      'avatar',
      'device',
      'userId',
    ]),
  },
  methods: {
    toggleSideBar() {
      // this.$store.dispatch('app/toggleSideBar');
    },
    mouseOver() {
      // Cookies.set('sidebarStatus', 0);
      // this.$store.commit('app/OPEN_HOVER_SIDEBAR');
    },
    mouseout() {
      // Cookies.set('sidebarStatus', 0);
      // this.$store.commit('app/CLOSE_HOVER_SIDEBAR');
    },
    async logout() {
      await this.$store.dispatch('user/logout');
      this.$router.push('/login');
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  height: 62px;
  overflow: hidden;
  position: relative;
  background: #006fe3;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 75px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 67px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 14px;
      color: #fff;
      vertical-align: text-center;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 20px;

      .avatar-wrapper {
        position: relative;
        height: 100%;
        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid;
          position: relative;
          top: -11px;
        }

        .user-name {
          vertical-align: text-bottom;
          margin-right: 15px;
          text-transform: capitalize;
          font-size: 14px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
