<template>
  <div class="app-container notify-page">
    <!-- Filter -->
    <div class="filter-container">
      <template>
        <el-row class="search-block">
          <el-col :span="24">
            <el-input
                class="search"
                prefix-icon="el-icon-search"
                placeholder="Nhập từ khóa..."
                v-model="searchKeyword"
                @keyup.enter.native="handleFilter()"
            >
            </el-input>

            <el-date-picker
                class="filter-date"
                v-model="filter.date"
                type="datetimerange"
                range-separator="-"
                start-placeholder="Bắt đầu"
                end-placeholder="Kết thúc"
                format="yyyy-MM-dd HH:mm:ss"
                style="width: 365px"
            >
            </el-date-picker>
            <el-select
                class="type"
                v-model="query.type"
                placeholder="Loại thông báo"
                clearable
            >
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
              >
              </el-option>
            </el-select>
            <el-button type="primary" @click="handleFilter()"
            >Tìm kiếm
            </el-button
            >
          </el-col>
        </el-row>
      </template>
    </div>

    <template>
      <el-table
          ref="multipleTable"
          :data="notifyLst"
          style="width: 100%"
          @row-click="rowClicked"
          id="notify-table"
      >
        <el-table-column label="" width="100" align="center">
          <template slot-scope="scope">
            <img v-if="scope.row.type === 1" src="@/assets/images/noti-temp.png" alt=""/>
            <img v-else-if="scope.row.type === 3" src="@/assets/images/noti-humid.png" alt=""/>
            <img v-else-if="scope.row.type === 5" src="@/assets/images/noti-connect.png" alt="" width="40"/>
            <img v-else-if="scope.row.type === 6" src="@/assets/images/noti-capacity.png" alt=""/>
            <img v-else-if="scope.row.type === 7" src="@/assets/images/noti-capacity.png" alt=""/>
            <img v-else-if="scope.row.type === 8" src="@/assets/images/noti-door.png" alt=""/>
            <img v-else-if="scope.row.type === 9" src="@/assets/images/noti-smoke.png" alt=""/>
          </template>
        </el-table-column>

        <el-table-column label="Thời gian" width="200">
          <template slot-scope="scope">
            <span>{{
                parseDate(scope.row.createdDate)
              }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Tiêu đề" width="300" prop="title" sortable>
          <template slot-scope="scope">
            <span>{{ scope.row.title }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Vị trí" prop="content" sortable>
          <template slot-scope="scope">
            <span>{{ scope.row.cabinetSite }}</span>
          </template>
        </el-table-column>
      </el-table>
      <p style="clear: both"></p>
      <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
      />
    </template>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import Resource from "@/api/resource";
import moment from "moment";

const notifyResource = new Resource("cabinet/noti");
const searchNotifyResource = new Resource("cabinet/noti/search")

export default {
  components: {Pagination},
  data() {
    return {
      layout: "first, prev, pager, next, last",
      isClickNotify: false,
      notifyUrl: null,
      notifyLst: [],
      number: 0,

      options: [
        {
          value: 1,
          label: "Cảnh báo quá nhiệt",
        },
        {
          value: 3,
          label: "Cảnh báo độ ẩm cao",
          disabled: true,
        },
        {
          value: 5,
          label: " Mất kết nối tủ điện",
        },
        {
          value: 9,
          label: "Cảnh báo khói",
        },
        {
          value: 8,
          label: "Cảnh báo cửa tủ mở",
        },
        {
          value: 7,
          label: "Cảnh báo công suất cao",
        },
        {
          value: 6,
          label: "Cảnh báo công suất thấp",
        },
      ],
      loading: false,
      total: 0,
      searchKeyword: null,
      typeIcon: null,
      query: {
        page: 1,
        size: 20,
        keyword: this.searchKeyword,
        type: null,
        fromDate: moment().subtract(30, "days").startOf("day").unix(),
        toDate: moment().endOf("day").unix(),
      },
      filter: {
        date: [
          moment()
              .subtract(30, "days")
              .startOf("day")
              .format("YYYY-MM-DD HH:mm:ss"),
          moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
        ],
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getList();
    },
    parseDate(millisecond) {
      return moment(millisecond).format('YYYY/MM/DD HH:mm:ss')
    },
    async getList() {
      let param = {
        page: this.query.page - 1,
        size: this.query.size,
        key: this.searchKeyword ? this.searchKeyword.trim() : "",
        from: this.query.fromDate,
        to: this.query.toDate,
        type: this.query.type,
      };
      const response = await searchNotifyResource.list(param);
      if (response) {
        this.notifyLst = response.data.notifyList;
        this.total = response.data.total
      } else {
        this.notifyLst = null;
        this.total = 0
      }

    },
    handleFilter() {
      this.query.page = 1
      if (this.filter.date) {
        let fromDate = moment(this.filter.date[0]).unix();
        let toDate = moment(this.filter.date[1]).unix();
        this.query.fromDate = fromDate;
        this.query.toDate = toDate;
      } else {
        this.query.fromDate = ''
        this.query.toDate = ''
      }
      this.getList();
    },
    async rowClicked(val) {
      if (val.isReaded === false) {
        await notifyResource.update(val.id);
      }
      window.location.href = '/monitor/map?keyWord=' + val.idCabinet
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.track-page-notify-detail {
  line-height: initial;

  .el-form-item {
    margin-bottom: 0px;
  }

  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }

  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }

  .vehicle {
    text-align: center;
    padding-top: 25px;

    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }

  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }

  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }

  .block-item {
    width: 100%;
    float: left;
  }

  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;

    .el-dialog__title {
      color: white;
    }

    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }

  .el-dialog__body {
    padding: 0px 20px;

    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: bolder;
    }
  }

  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;

    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }

    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }

  .action {
    margin-top: 40px;

    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }

    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }

  .el-table th > .cell {
    text-align: left;
  }

  .el-table tr > th:first-child .cell {
    text-align: center;
  }

  .el-table th {
    color: black;
    font-size: 14px;
  }

  .el-table td {
    color: black;
    font-size: 14px;
  }

  .el-table tr td:first-child {
    text-align: center;
  }

  .el-table td:first-child .cell {
    display: inline-block;
  }

  .filter-container {
    padding-bottom: 20px;
  }

  tbody {
    tr {
      cursor: pointer;
    }

    td {
      padding: 10px 0 !important;

      .full-image {
        --widthDia: calc(100% - 267px);
        left: 15px !important;
        top: 100px !important;
        width: calc(var(--widthDia) * 58 / 100) !important;
      }
    }
  }

  .detail-plate-track {
    .el-dialog {
      margin-top: 0 !important;
    }
  }

  .list-site-go .item span {
    color: #1f7ff5;
    display: inline-block;
    border: 1px solid #1f7ff5;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    margin-right: 14px;
  }
}

.notify-page {
  .btn-edit {
    border-radius: 2px;
  }

  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }

    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }

  .action {
    margin-top: 40px;

    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }

    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }

  .el-table th > .cell {
    text-align: left;
  }

  .el-table th {
    color: black;
    font-size: 14px;
  }

  .el-table td {
    color: black;
    font-size: 14px;
  }

  .el-table td:first-child .cell {
    display: inline-block;
  }

  .filter-container {
    padding-bottom: 20px;
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }

  .svg-icon[data-v-c8a70580] {
    /* width: 1em; */
    height: 42px;
    width: 42px;
  }

  .search-block {
    display: inline-block;

    .search {
      float: left;
      width: 190px;
    }

    .filter-date {
      float: left;
      width: 350px;
      margin-left: 4px;
    }

    .type {
      float: left;
      width: 250px;
      margin-left: 4px;
    }

    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 36px !important;
      width: 113px;
      margin-left: 12px;
      border-color: #1f7ff5;

      span {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
