<template>
  <div class="profile-editor-container">
    <div class="chart-wrapper">
      <h2>Thông tin cá nhân</h2>
      <p><b>Họ và tên: </b> {{ user && user.fullName }}</p>
      <p><b>Tài khoản: </b>{{ user && user.userName }}</p>
      <p><b>Email: </b>{{ user && user.email }}</p>
      <p><b>Số điện thoại: </b>{{ user && user.mobile }}</p>
    </div>
  </div>
</template>

<script>
import { getData } from "@/api/user-resources";
export default {
  name: "UserDetail",
  data() {
    return {
      user: {},
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getUser();
    },
    async getUser() {
      let result = await getData("/user");
      if (result && result.data) {
        this.user = result.data;
      }
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.profile-editor-container {
  padding: 16px;
  background-color: rgb(240, 242, 245);
  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 16px;
    margin-bottom: 32px;
  }
}
</style>

