<template>
	<div class="home">

	</div>
</template>
<script type="text/javascript">
	export default {
		created() {
			// let flag = this.$root.checkRole('monitor','canRead');
			// if(flag) {
				this.$router.push('monitor')
			// }
		}
	}
</script>
