<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
<style>
/*#app {*/
/*  font-family: Roboto, sans-serif !important;*/
/*}*/
body * {
  font-family: Roboto, sans-serif !important;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
</style>
