<template>
  <div :class="className" :style="{height:height,width:width}"/>
</template>

<script>
import echarts from 'echarts';
import { debounce } from '@/utils';
require('echarts/theme/macarons'); // echarts theme

const animationDuration = 1000;
export default {
  props: {
    className: {
      type: String,
      default: 'chart',
    },
    width: {
      type: String,
      default: '100%',
    },
    height: {
      type: String,
      default: '400px',
    },
    dataReport: {
      type: Array,
      default: null,
    },
    target: {
      type: Array,
      default: null,
    }
  },
  data() {
    return {
      chart: null,
      check: null,
    };
  },
  name: "AccessChart",
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons');
      this.chart.setOption({
        baseOption: {
          grid: {
            top: "5%",
            bottom: '15%',
            containLabel: true,
            borderColor: "transparent",
            backgroundColor: "transparent",
            show: true,
            left: "3%",
            right: "4%",
            borderWidth: 0
          },
          legend: {
            height: "15%",
            data: (this.target.length !== 1) ? ['Từ xa', 'Tại chỗ'] : (this.target.includes('ONLINE')) ? ['Từ xa'] : ['Tại chỗ'],
            icon: 'square',
            bottom: 0,
            left: "center"
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: { // Axis indicator, axis trigger is valid
              type: 'shadow', // The default is a straight line, which can be selected as: 'line' | 'shadow'
            },
          },
          responsive: true,
          maintainAspectRatio: false,
          color: '#1f7ff5',
          xAxis: [{
            axisLine: {
              show: false,
            },
            type: 'category',
            data: this.dataReport.map(data => data.key),
            axisLabel: {show: true, color: 'rgba(0, 0, 0, 0.6)'},
            axisTick: {
              show: false
            },
          }],
          yAxis: [{
            type: 'value',
            splitLine: {
              show: false
            },
            axisLine: {
              lineStyle: {
                color: '#E9E9E9',

              }
            },
            axisLabel: {show: true, color: 'rgba(0, 0, 0, 0.6)'},
            splitArea: {
              show: false
            },
            axisTick: {
              show: false,
            },
          }],
          textStyle: {
            fontFamily: 'Roboto, sans-serif'
          },
          series: [
            {
              name: 'Từ xa',
              type: 'bar',
              stack: 'vistors',
              barWidth: '29px',
              color:'#e76e54',
              data: this.dataReport.map(data => data.online),
              animationDuration,
            }, {
              name: 'Tại chỗ',
              type: 'bar',
              stack: 'vistors',
              barWidth: '29px',
              color: '#39d4a0',
              data: this.dataReport.map(data => data.offline),
              animationDuration,
            },
            {
              name: 'Tổng cộng',
              type: 'line',
              color: '#707070',
              smooth: false,
              data: this.dataReport.map(data => (data.online + data.offline)),
            },
          ],
        },
      });
    },
  },
  mounted() {
    this.initChart()
    this.__resizeHandler = debounce(() => {
      if (this.chart) {
        this.chart.resize();
      }
    }, 100);
    window.addEventListener('resize', this.__resizeHandler);
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    window.removeEventListener('resize', this.__resizeHandler);
    this.chart.dispose();
    this.chart = null;
  },
}
</script>

<style scoped>

</style>
