<template>
  <div class="filter">
    <div class="date-filter item-filter">
      <el-date-picker
          v-model="searchQuery.date"
          type="daterange"
          format="dd-MM-yyyy"
          range-separator="-"
          start-placeholder="Từ ngày"
          end-placeholder="Đến ngày">
      </el-date-picker>
    </div>
    <div class="report-filter-select report-site-select item-filter">
      <span>Tỉnh/Thành phố</span>
      <el-select v-model="searchQuery.provinceId" placeholder="-Lựa chọn-" filterable clearable
                 @change="changeProvince()">
        <el-option
            v-for="item in this.provinces"
            :key="item.id"
            :label="item.name"
            :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-site-select item-filter">
      <span>Quận/Huyện</span>
      <el-select v-model="searchQuery.districtId" placeholder="-Lựa chọn-" filterable clearable
                 @change="changeDistrict()">
        <el-option
            v-for="item in this.districts"
            :key="item.id"
            :label="item.name"
            :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-site-select item-filter">
      <span>Phường/Xã</span>
      <el-select v-model="searchQuery.wardId" placeholder="-Lựa chọn-" filterable clearable
                 @change="changeWard">
        <el-option
            v-for="item in this.wards"
            :key="item.id"
            :label="item.name"
            :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-cabinet-select item-filter">
      <span>Tủ điện</span>
      <el-select
          :class="{multi: searchQuery.ids && searchQuery.ids.length>1}"
          v-model="searchQuery.ids"
          multiple collapse-tags
          filterable clearable
          placeholder="- Lựa chọn -">
        <el-option
            v-for="item in this.filterCabinets"
            :key="item.id"
            :label="item.name"
            :value="item.id">
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-cabinet-select item-filter">
      <span>Loại truy cập</span>
      <el-select
          :class="{multi: searchQuery.accessType && searchQuery.accessType.length>1}"
          v-model="searchQuery.accessType"
          multiple
          placeholder="- Lựa chọn -">
        <el-option
            v-for="item in this.accessTypes"
            :key="item.type"
            :label="item.name"
            :value="item.type">
        </el-option>
      </el-select>
    </div>
    <div class="action report-filter-select report-cabinet-select item-filter">
      <el-button type="primary" class="report" @click="Search()">
        <img width="15" height="15" src="@/assets/images/MdiLightChartPie.png" style="margin-bottom: -2px"/>
        Báo cáo
      </el-button>
      <el-button type="success" class="refresh" @click="refresh()" icon="el-icon-refresh">Làm mới</el-button>
    </div>
  </div>
</template>
<script type="text/javascript">

import Resource from "@/api/resource"
import moment from 'moment'

const cabinetResource = new Resource("cabinet");
const provinceResource = new Resource("cabinet/site/provinces");
const districtResource = new Resource("cabinet/site/districts");
const wardResource = new Resource("cabinet/site/wards");

export default {
  data() {
    return {
      accessTypes: [
        {
          type: "ONLINE",
          name: "Từ xa"
        },
        {
          type: "OFFLINE",
          name: "Tại chỗ"
        },
      ],
      cabinets: [],
      filterCabinets: [],
      searchQuery: {
        provinceId: null,
        districtId: null,
        wardId: null,
        date: [
          moment().subtract(8, "day").format('YYYY/MM/DD'),
          moment().subtract(1, "day").format('YYYY/MM/DD'),
        ],
        accessType: [],
      },
      provinces: [],
      districts: [],
      wards: [],
    }
  },
  async mounted() {
    await this.getCabinets()
    await this.getProvinces()
  },
  computed: {},
  methods: {
    refresh() {
      this.searchQuery = {
        ids: [],
        date: [
          moment().subtract(8, "day").format('YYYY/MM/DD'),
          moment().subtract(1, "day").format('YYYY/MM/DD'),
        ],
        provinceId: null,
        districtId: null,
        wardId: null,
        accessType: [],
        fromDate: moment().subtract(8, "day").format('YYYY/MM/DD'),
        toDate: moment().subtract(1, "day").format('YYYY/MM/DD'),
      }
      this.filterCabinets = this.cabinets
      this.$emit('search', this.searchQuery)
    },
    async getCabinets() {
      this.searchQuery.ids = []
      let result = await cabinetResource.list();
      if (result && result.data) {
        this.cabinets = result.data;
      }
      this.filterCabinets = this.cabinets
    },
    Search() {
      const tmp = this.searchQuery.ids
      if (this.searchQuery.ids.length === 0) {
        this.searchQuery.ids = this.filterCabinets.map(cabinet => cabinet.id)
      }
      if (this.filterCabinets.length === 0) {
        this.searchQuery.ids = null
      }
      this.$emit('search',this.searchQuery)
      this.searchQuery.ids = tmp
    },
    async getProvinces() {
      const response = await provinceResource.list()
      this.provinces = response.data
    },
    async getDistricts() {
      const param = {
        provinceId: this.searchQuery.provinceId
      }
      const response = await districtResource.list(param)
      this.districts = response.data
    },
    async getWards() {
      const param = {
        districtId: this.searchQuery.districtId
      }
      const response = await wardResource.list(param)
      this.wards = response.data
    },
    changeProvince() {
      this.searchQuery.districtId = null
      this.searchQuery.wardId = null
      this.wards = []
      this.getDistricts()
      this.filterCabinets = this.cabinets.filter(cabinet => cabinet.provinceId === this.searchQuery.provinceId)
    },
    changeDistrict() {
      this.searchQuery.wardId = null
      this.getWards()
      this.filterCabinets = this.cabinets.filter(cabinet => cabinet.districtId === this.searchQuery.districtId)
    },
    changeWard() {
      this.filterCabinets = this.cabinets.filter(cabinet => cabinet.wardId === this.searchQuery.wardId)
    },
  }
}
</script>
<style type="text/css" lang="scss">
.filter {
  .item-filter {
    margin-bottom: 15px;
    //float: right;
  }

  .el-input__inner {
    min-height: 40px !important;
    line-height: 40px !important;
  }

  .el-range__close-icon {
    position: relative;
    top: 3px;
  }

  .el-icon-date {
    line-height: 35px !important;
    display: none;
  }

  .date-filter {
    .el-input__inner {
      padding-right: 0 !important;
      width: 203px;
    }

    .el-range-separator {
      line-height: 30px;
      width: 15px;
      color: #999;
    }
  }

  .action {
    button {
      border-radius: 4px;
      height: 40px;
      line-height: 20px;
      font-size: 13px;
    }

    .report {
      background: #1f7ff5;
      border: 1px solid #1f7ff5;
    }

    .refresh {
      background: #26c6da;
      border: 1px solid #26c6da;
    }
  }

  .report-site-select {
    //margin-left: 20px;
    .multi {
      .el-select__tags {
        span span span {
          max-width: 85px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 109px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }

  .report-cabinet-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 95px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 69px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
<style type="text/css" lang="scss" scoped>
.filter {
  .report-filter-select {
    float: left;
    margin-right: 10px;

    span {
      font-size: 14px;
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;
      color: #363030;
    }
  }

  .report-time-select {
    width: 138px;
  }

  .report-site-select {
    .el-select {
      width: 130px;
    }
  }

  .report-cabinet-select {
    .el-select {
      width: 200px;
    }
  }

  .date-filter {
    float: left;
  }

  .time {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 13px;
    border-radius: 8px;
    /*border: 1px solid #ded6d6;*/
    border: 1px solid rgb(224, 227, 234);

    .item {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      cursor: pointer;
      height: 100%;
    }

    .item.active {
      background: #006fe3;
      color: white;
    }

    .year {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .day {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  .time * {
    box-sizing: border-box;
  }
}
</style>
