<template>
  <div class="filter">
    <div class="item-filter time">
      <div class="item day" :class="{active: searchQuery.type=='day'}" @click="changeTime('day')">Ngày</div>
      <div class="item week" :class="{active: searchQuery.type=='week'}" @click="changeTime('week')">Tuần</div>
      <div class="item month" :class="{active: searchQuery.type=='month'}" @click="changeTime('month')">Tháng</div>
      <div class="item year" :class="{active: searchQuery.type=='year'}" @click="changeTime('year')">Năm</div>
    </div>
    <div class="item-filter report-filter-select report-time-select">
      <el-select v-model="searchQuery.timeRangerValue" :disabled="searchQuery.date!=null" placeholder="- Lựa chọn -">
        <el-option
            v-for="item in this.timeRanger"
            :key="item.value"
            :label="item.label"
            :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class="date-filter item-filter">
      <el-date-picker
          v-model="searchQuery.date"
          type="daterange"
          format="dd-MM-yyyy"
          range-separator="-"
          start-placeholder="Từ ngày"
          end-placeholder="Đến ngày">
      </el-date-picker>
    </div>
    <div class="report-filter-select report-site-select item-filter">
      <span>Tỉnh/Thành phố</span>
      <el-select v-model="searchQuery.provinceId" placeholder="-Lựa chọn-" filterable clearable
                 @change="changeProvince()">
        <el-option
            v-for="item in this.provinces"
            :key="item.id"
            :label="item.name"
            :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-site-select item-filter">
      <span>Quận/Huyện</span>
      <el-select v-model="searchQuery.districtId" placeholder="-Lựa chọn-" filterable clearable
                 @change="changeDistrict()">
        <el-option
            v-for="item in this.districts"
            :key="item.id"
            :label="item.name"
            :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-site-select item-filter">
      <span>Phường/Xã</span>
      <el-select v-model="searchQuery.wardId" placeholder="-Lựa chọn-" filterable clearable
                 @change="changeWard">
        <el-option
            v-for="item in this.wards"
            :key="item.id"
            :label="item.name"
            :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-cabinet-select item-filter">
      <span>Tủ điện</span>
      <el-select
          :class="{multi: searchQuery.ids && searchQuery.ids.length>1}"
          v-model="searchQuery.ids"
          multiple collapse-tags
          filterable clearable
          placeholder="- Lựa chọn -">
        <el-option
            v-for="item in this.filterCabinets"
            :key="item.id"
            :label="item.name"
            :value="item.id">
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-cabinet-select item-filter">
      <span>Loại sự cố</span>
      <el-select
          :class="{multi: searchQuery.accidentType && searchQuery.accidentType.length>1}"
          v-model="searchQuery.accidentType"
          multiple collapse-tags
          placeholder="- Lựa chọn -">
        <el-option
            v-for="item in this.accidentTypes"
            :key="item.type"
            :label="item.name"
            :value="item.type">
        </el-option>
      </el-select>
    </div>
    <div class="action report-filter-select report-cabinet-select item-filter">
      <el-button type="primary" class="report" @click="Search()">
        <img width="15" height="15" src="@/assets/images/MdiLightChartPie.png" style="margin-bottom: -2px"/>
        Báo cáo
      </el-button>
      <el-button type="success" class="refresh" @click="refresh()" icon="el-icon-refresh">Làm mới</el-button>
    </div>
  </div>
</template>
<script type="text/javascript">

import Resource from "@/api/resource"
import moment from 'moment'

const cabinetResource = new Resource("cabinet");
const provinceResource = new Resource("cabinet/site/provinces");
const districtResource = new Resource("cabinet/site/districts");
const wardResource = new Resource("cabinet/site/wards");

export default {
  data() {
    return {
      day: [
        {
          value: 1,
          label: '1 ngày trước'
        }, {
          value: 2,
          label: '2 ngày trước'
        }, {
          value: 3,
          label: '3 ngày trước'
        }
      ],
      week: [
        {
          value: 1,
          label: '1 tuần trước'
        }, {
          value: 2,
          label: '2 tuần trước'
        }, {
          value: 3,
          label: '3 tuần trước'
        }
      ],
      month: [
        {
          value: 1,
          label: '1 tháng trước'
        }, {
          value: 2,
          label: '2 tháng trước'
        }, {
          value: 3,
          label: '3 tháng trước'
        }
      ],
      year: [
        {
          value: 1,
          label: '1 năm trước'
        }, {
          value: 2,
          label: '2 năm trước'
        }, {
          value: 3,
          label: '3 năm trước'
        }
      ],
      accidentTypes: [
        {
          type: "HIGH_TEMPERATURE",
          name: "Nhiệt độ cao"
        },
        // {
        //   type: "LOW_TEMPERATURE",
        //   name: "Nhiệt độ thấp"
        // },
        {
          type: "HIGH_HUMID",
          name: "Độ ẩm cao"
        },
        // {
        //   type: "LOW_HUMID",
        //   name: "Độ ẩm thấp"
        // },
        {
          type: "DISCONNECT",
          name: "Mất kết nối"
        },
        {
          type: "LOW_CAPACITY",
          name: "Công suất thấp"
        },
        {
          type: "HIGH_CAPACITY",
          name: "Công suất cao"
        },
        {
          type: "DOOR_OPENED",
          name: "Cửa mở"
        },
        {
          type: "SMOKE_ALARM",
          name: "Báo khói"
        },
        // {
        //   type: "POWER_LOSS",
        //   name: "Mất nguồn điện"
        // },
      ],
      cabinets: [],
      filterCabinets: [],
      timeRanger: null,
      searchQuery: {
        provinceId: null,
        districtId: null,
        wardId: null,
        siteValue: null,
        date: null,
        type: 'day',
        timeRangerValue: 1,
        accidentType: [],
      },
      provinces: [],
      districts: [],
      wards: [],
    }
  },
  async mounted() {
    this.timeRanger = this.day
    await this.getCabinets()
    await this.getProvinces()
  },
  computed: {},
  methods: {
    changeTime(type) {
      this.searchQuery.timeRangerValue = 1
      this.searchQuery.type = type
      if (type === 'day') {
        this.timeRanger = this.day
      }
      if (type === 'week') {
        this.timeRanger = this.week
      }
      if (type === 'month') {
        this.timeRanger = this.month
      }
      if (type === 'year') {
        this.timeRanger = this.year
      }
    },
    refresh() {
      this.searchQuery = {
        ids: [],
        date: null,
        provinceId: null,
        districtId: null,
        wardId: null,
        accidentType: [],
        fromDate: moment().subtract(1, "day").format('YYYY/MM/DD'),
        toDate: moment().subtract(1, "day").format('YYYY/MM/DD'),
        type: 'day',
        timeRangerValue: 1,
        timeRanger: this.day
      }
      this.filterCabinets = this.cabinets
      this.$emit('search', this.searchQuery)
    },
    async getCabinets() {
      this.searchQuery.ids = []
      let result = await cabinetResource.list();
      if (result && result.data) {
        this.cabinets = result.data;
      }
      this.filterCabinets = this.cabinets
    },
    Search() {
      const tmp = this.searchQuery.ids
      const tmpDateFrom = this.searchQuery.date !== null ? this.searchQuery.date[0] : null
      const tmpDateTo = this.searchQuery.date !== null ? this.searchQuery.date[1] : null
      if (this.searchQuery.ids.length === 0) {
        this.searchQuery.ids = this.filterCabinets.map(cabinet => cabinet.id)
      }
      if (this.filterCabinets.length === 0) {
        this.searchQuery.ids = null
      }
      if (this.searchQuery.date != null) {
        if (this.searchQuery.type === 'week') {
          this.searchQuery.date[0] = moment(this.searchQuery.date[0]).isoWeekday(1)
          this.searchQuery.date[1] = moment(this.searchQuery.date[1]).isoWeekday(7)
        } else {
          this.searchQuery.date[0] = moment(this.searchQuery.date[0]).startOf(this.searchQuery.type)
          this.searchQuery.date[1] = moment(this.searchQuery.date[1]).endOf(this.searchQuery.type)
        }
      }
      this.$emit('search', this.searchQuery)
      this.searchQuery.ids = tmp
      if (this.searchQuery.date != null) {
        this.searchQuery.date[0] = tmpDateFrom
        this.searchQuery.date[1] = tmpDateTo
      }
    },
    async getProvinces() {
      const response = await provinceResource.list()
      this.provinces = response.data
    },
    async getDistricts() {
      const param = {
        provinceId: this.searchQuery.provinceId
      }
      const response = await districtResource.list(param)
      this.districts = response.data
    },
    async getWards() {
      const param = {
        districtId: this.searchQuery.districtId
      }
      const response = await wardResource.list(param)
      this.wards = response.data
    },
    changeProvince() {
      this.searchQuery.districtId = null
      this.searchQuery.wardId = null
      this.wards = []
      this.getDistricts()
      this.filterCabinets = this.cabinets.filter(cabinet => cabinet.provinceId === this.searchQuery.provinceId)
    },
    changeDistrict() {
      this.searchQuery.wardId = null
      this.getWards()
      this.filterCabinets = this.cabinets.filter(cabinet => cabinet.districtId === this.searchQuery.districtId)
    },
    changeWard() {
      this.filterCabinets = this.cabinets.filter(cabinet => cabinet.wardId === this.searchQuery.wardId)
    },
  }
}
</script>
<style type="text/css" lang="scss">
.filter {
  .item-filter {
    margin-bottom: 15px;
    //float: right;
  }

  .el-input__inner {
    min-height: 40px !important;
    line-height: 40px !important;
  }

  .el-range__close-icon {
    position: relative;
    top: 3px;
  }

  .el-icon-date {
    line-height: 35px !important;
    display: none;
  }

  .date-filter {
    .el-input__inner {
      padding-right: 0 !important;
      width: 203px;
    }

    .el-range-separator {
      line-height: 30px;
      width: 15px;
      color: #999;
    }
  }

  .action {
    button {
      border-radius: 4px;
      height: 40px;
      line-height: 20px;
      font-size: 13px;
    }

    .report {
      background: #1f7ff5;
      border: 1px solid #1f7ff5;
    }

    .refresh {
      background: #26c6da;
      border: 1px solid #26c6da;
    }
  }

  .report-site-select {
    //margin-left: 20px;
    .multi {
      .el-select__tags {
        span span span {
          max-width: 85px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 109px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }

  .report-cabinet-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 95px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 69px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
<style type="text/css" lang="scss" scoped>
.filter {
  .report-filter-select {
    float: left;
    margin-right: 10px;

    span {
      font-size: 14px;
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;
      color: #363030;
    }
  }

  .report-time-select {
    width: 138px;
  }

  .report-site-select {
    .el-select {
      width: 130px;
    }
  }

  .report-cabinet-select {
    .el-select {
      width: 200px;
    }
  }

  .date-filter {
    float: left;
  }

  .time {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 13px;
    border-radius: 8px;
    /*border: 1px solid #ded6d6;*/
    border: 1px solid rgb(224, 227, 234);

    .item {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      cursor: pointer;
      height: 100%;
    }

    .item.active {
      background: #006fe3;
      color: white;
    }

    .year {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .day {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  .time * {
    box-sizing: border-box;
  }
}
</style>
