<template>
  <div class="cabinet-detail">
    <i class="el-icon-close" @click="closeDetail()"></i>
    <el-row class="value border" >
      {{cabinetDetail.cabinet.name}}
      <img v-if="cabinetDetail.cabinet.status === 1" :src="iconConnected">
      <img v-else :src="iconDisconnected">
    </el-row>
    <el-row class="value" >
      <el-col :span="8">
        <el-row class="row-content">
        <img width="78.4" src="@/assets/images/speedometer.png"/>
        </el-row>
        <el-row class="row-content" style="line-height: 20px;">
        {{cabinetDetail.status.id && cabinetDetail.status.humid !== null ? "220V" : "N/A"}}
        </el-row>
      </el-col>
      <el-col :span="8">
        <el-row class="row-content">
        <img width="78.4" src="@/assets/images/speedometer.png"/>
        </el-row>
        <el-row class="row-content" style="line-height: 20px;" v-if="cabinetDetail.status.id && cabinetDetail.status.powerOut !== null">
        {{ cabinetDetail.status.powerOut}}A
        </el-row>
        <el-row class="row-content" style="line-height: 20px;" v-else>
          N/A
        </el-row>
      </el-col>
      <el-col :span="8">
        <el-row class="row-content">
        <img width="78.4" src="@/assets/images/speedometer.png"/>
        </el-row>
        <el-row class="row-content" style="line-height: 20px;" v-if="cabinetDetail.status.id && cabinetDetail.status.dcBat !== null">
        {{cabinetDetail.status.dcBat}}V
        </el-row>
        <el-row class="row-content" style="line-height: 20px;" v-else>
          N/A
        </el-row>
      </el-col>
    </el-row>
    <el-row class="value border">
      <el-col :span="12" class="temp">
        <el-row class="flex-row">
          <img width="20.1" height="34.4" src="@/assets/images/temperature (1).png" style="margin-top: 8px" />
          {{cabinetDetail.status.temp !== null ? cabinetDetail.status.temp : "N/A"}}
          <div style="font-size: 20px; line-height: 35px;" v-if="cabinetDetail.status.temp !== null">
            oC
          </div>
        </el-row>
      </el-col>
      <el-col :span="12" class="humid">
        <el-row class="flex-row">
          <img width="23.9" height="33.2" src="@/assets/images/drop@2x.png" style="margin-top: 10px"/>
          {{cabinetDetail.status.humid !== null ? cabinetDetail.status.humid : "N/A" }}
          <div style="font-size: 20px; line-height: 60px;" v-if="cabinetDetail.status.temp !== null">
            (%)
          </div>
        </el-row>
      </el-col>
    </el-row>
    <el-row class="value" :gutter=14 style="height: 70px">
      <el-col :span="6" style="text-align: center">
        <img width="39.7" height="51.6" src="@/assets/images/fire@3x.png"/>
      </el-col>
      <el-col :span="14">
        <img id="spin-icon2" width="30.1" height="29.3" style="margin-top: 8px" src="@/assets/images/undo-arrow@3x.png" @click="turnOffSmokeAlarm()"/>
      </el-col>
    </el-row>
    <el-row class="value" :gutter=14 style="height: 70px">
      <el-col :span="6" style="text-align: center">
        <img width="35.5" height="47.1" src="@/assets/images/door@3x.png"/>
      </el-col>
      <el-col :span="14">
        <el-switch
            :width=55
            active-text="ON"
            inactive-text="OFF"
            inactive-color="rgba(126, 126, 126, 0.87)"
            active-color="#00bcd4"
            v-model="cabinetDetail.status.doorStatus"
            @change="changeDoorStatus()"
        >
        </el-switch>
      </el-col>
    </el-row>
    <el-row class="value" :gutter=14 style="height: 70px">
      <el-col :span="6" style="text-align: center">
        <img width="42.4" height="42.4" src="@/assets/images/fan@3x.png" style="margin-top: 8px"/>
      </el-col>
      <el-col :span="14">
        <el-switch
            :width=55
            active-text="ON"
            inactive-text="OFF"
            inactive-color="rgba(126, 126, 126, 0.87)"
            active-color="#00bcd4"
            v-model="cabinetDetail.status.fanStatus"
            @change="changeFanStatus()"
        >
        </el-switch>
      </el-col>
    </el-row>
    <el-row class="value border" :gutter=14 >
      <el-col :span="6" style="text-align: center">
        <img width="49.8" height="41.2" src="@/assets/images/cctv@3x.png"/>
      </el-col>
      <el-col :span="14">
        <img id="spin-icon" width="30.1" height="29.3" src="@/assets/images/undo-arrow@3x.png" @click="resetCamera()"/>
      </el-col>
    </el-row>
    <el-row class="value" :gutter=14 style="height: 70px">
      <el-col :span="6" style="text-align: center">
        <img width="36.2" height="49" src="@/assets/images/gps@3x.png"/>
      </el-col>
      <el-col :span="14" style="font-size: 16px; line-height: initial">
        {{cabinetDetail.cabinet.site}}
      </el-col>
    </el-row>
    <el-row class="value" :gutter=14 style="height: 70px">
      <el-col :span="6" style="text-align: center;">
        <img width="38.3" height="38.3" src="@/assets/images/clock@3x.png"/>
      </el-col>
      <el-col :span="14" style="font-size: 16px">
        {{ cabinetDetail.status.timestamp ? parseDate(cabinetDetail.status.timestamp) : "Chưa có trạng thái "}}
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Resource from "@/api/resource";
import moment from "moment";

const recordControl = new Resource("cabinet/record-control");
export default {
  name: "detailCabinet",
  data () {
    return {
      iconConnected: require('@/assets/images/wifi.png'),
      iconDisconnected: require('@/assets/images/noti-connect.png')
    }
  },
  props: {
    cabinetDetail: Object
  },
  methods: {
    parseDate(millisecond){
      return moment(millisecond).format('YYYY/MM/DD HH:mm:ss')
    },
    async turnOffSmokeAlarm() {
      if (this.cabinetDetail.cabinet.status !== 1) {
        this.$message.warning("Không thể điều khiển tủ đang mất kết nối")
        return
      }
      var v = document.getElementById("spin-icon2");
      v.className = "spin-icon";
      const data = {
        "name":"Reset báo khói",
        "code":"SET02",
        "listCabinet":[this.cabinetDetail.cabinet.id]
      }
      const response = await recordControl.store(data);
      if (response.data.failedList.length > 0) {
        v.className=''
        this.$message({
          message: "Điều khiển thất bại",
          type: "error",
        });
      } else {
        v.className=''
        this.$message({
          message: "Điều khiển thành công",
          type: "success",
        });
      }
    },
    async changeDoorStatus() {
      this.cabinetDetail.status.doorStatus = !this.cabinetDetail.status.doorStatus
      if (this.cabinetDetail.cabinet.status !== 1) {
        this.$message.warning("Không thể điều khiển tủ đang mất kết nối")
        return
      }
      const data = {
        "name": (this.cabinetDetail.status.doorStatus)? "Đóng tủ" : "Mở tủ",
        "code":"SET01",
        "dataOut":!this.cabinetDetail.status.doorStatus,
        "listCabinet":[this.cabinetDetail.cabinet.id]
      }
      const response = await recordControl.store(data);
      if (response.data.failedList.length > 0) {
        this.$message({
          message: "Điều khiển thất bại",
          type: "error",
        });
      } else {
        this.cabinetDetail.status.doorStatus = !this.cabinetDetail.status.doorStatus
        this.$message({
          message: "Điều khiển thành công",
          type: "success",
        });
      }
    },
    async changeFanStatus() {
      this.cabinetDetail.status.fanStatus = !this.cabinetDetail.status.fanStatus
      if (this.cabinetDetail.cabinet.status !== 1) {
        this.$message.warning("Không thể điều khiển tủ đang mất kết nối")
        return
      }
      const data = {
        "name": (this.cabinetDetail.status.fanStatus)? "Bật quạt" : "Tắt quạt",
        "code":"SET04",
        "dataOut":!this.cabinetDetail.status.fanStatus,
        "listCabinet":[this.cabinetDetail.cabinet.id]
      }
      const response = await recordControl.store(data);

      if (response.data.failedList.length > 0) {
        this.$message({
          message: "Điều khiển thất bại",
          type: "error",
        });
      } else {
        this.cabinetDetail.status.fanStatus = !this.cabinetDetail.status.fanStatus
        this.$message({
          message: "Điều khiển thành công",
          type: "success",
        });
      }
    },
     async resetCamera() {
       if (this.cabinetDetail.cabinet.status !== 1) {
         this.$message.warning("Không thể điều khiển tủ đang mất kết nối")
         return
       }
      var v = document.getElementById("spin-icon");
      v.className = "spin-icon";

      const data = {
        "name": "Reset nguồn cấp",
        "code":"SET03",
        "listCabinet":[this.cabinetDetail.cabinet.id]
      }

      const response = await recordControl.store(data);

      if (response.data.failedList.length > 0) {
        v.className=''
        this.$message({
          message: "Điều khiển thất bại",
          type: "error",
        });
      } else {
        this.$message({
          message: "Điều khiển thành công",
          type: "success",
        });
        v.className = '';
      }

    },

    closeDetail() {
      this.$emit('CloseStatus')
    }
  },
  created() {
  }
}
</script>

<style lang="scss">
.cabinet-detail {
  width: 353px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0 0 6px;
  object-fit: contain;
  background-color: rgba(35, 35, 35, 0.8);
  .value {
    font-size: 30px;
    color: white;
    padding: 7.5px 0 81.2px 0.5px;
  }
  .el-row {
    padding: 10px 20px;
  }
  .el-icon-close {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2000;
  }
  .border {
    border-bottom: 0.5px solid white;
  }
  .row-content {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .flex-row {
    display: flex;
    align-content: center;
    justify-content: center;
    img {
      margin-top: 8px;
      margin-right: 10px;
    }
  }
  .temp {
    text-align: center;
    font-family: Roboto, sans-serif !important;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.24px;
    color: #ff5858;
    margin: 0;
  }

  .humid {
    text-align: center;
    font-family: Roboto, sans-serif !important;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.24px;
    color: #249ffe;
    margin: 0;
  }
}

</style>
<style lang="css">
.el-switch__label--right.el-switch__label.is-active {
  display: inline-block;
  color: white;
  z-index: 3;
}
.el-switch__label--left.el-switch__label.is-active {
  margin-left: 20px;
  display: inline-block;
  color: white;
  z-index: 3;
}
.el-switch__label {
  position: absolute;
  display: none;
}
.spin-icon {
  animation: app-logo-spin infinite 0.5s linear
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(-360deg)
  }
}
</style>
