<template>
  <div class="detail-site">
    <div class="info-position">
      <div class="info-general">
        <h4>{{ cabinetDetail.cabinet.name }}
          <img style="padding-left: 5px" v-if="cabinetDetail.cabinet.status === 1" :src="iconConnected">
          <img style="padding-left: 5px" v-else :src="iconDisconnected">
          <i @click="closePopup()" style="float:right;cursor: pointer;" class="el-icon-close"></i>
        </h4>
        <div class="detail-content" >
          <el-row :gutter="8">
            <el-col :span="12">
              <el-card class="box-card temp">
                <el-row>
                  <el-col :span="2" class="icon" >
                    <img src="@/assets/images/temperature.png"/>
                  </el-col>
                  <el-col v-if="cabinetDetail.status.id && cabinetDetail.status.temp !== null">
                    {{cabinetDetail.status.temp}}
                    <div style="font-size: 17px; display: initial;position: fixed;top: 48px; font-family: Arial,serif;" >
                      oC
                    </div>
                  </el-col>
                  <el-col v-else>
                    N/A
                  </el-col>
                </el-row>
              </el-card>
            </el-col>
            <el-col :span="12">
              <el-card class="box-card humid">
                <el-col :span="2" style="position: fixed" >
                  <img src="@/assets/images/humid-icon.png"/>
                </el-col>
                <el-col v-if="cabinetDetail.status.id && cabinetDetail.status.humid !== null">
                  {{cabinetDetail.status.humid}}
                  <div style="font-size: 17px; display: initial;position: fixed; top: 58px; font-family: Arial,serif;">
                    (%)
                  </div>
                </el-col>
                <el-col v-else>
                  N/A
                </el-col>
              </el-card>
            </el-col>
          </el-row>
          <el-row :gutter="8">
            <el-col :span="12">
              <el-card class="box-card power">
                <el-col :span="2" class="icon" style="padding-top: 10px">
                  <img src="@/assets/images/lighting.png"/>
                </el-col>
                <el-col v-if="cabinetDetail.status.id && cabinetDetail.status.humid !== null">
                  220
                  <div style="font-size: 17px; display: initial;position: fixed;top: 120px; font-family: Arial,serif;" >
                    (V)
                  </div>
                </el-col>
                <el-col v-else>
                  N/A
                </el-col>
              </el-card>
            </el-col>
            <el-col :span="12">
              <el-card class="box-card ampere">
                <el-col :span="3" style="position: fixed; text-align: left ">
                  <img width="20px" height="20px" src="@/assets/images/energy.png"/>
                </el-col>
                <el-col v-if="cabinetDetail.status.id && cabinetDetail.status.powerOut !== null">
                  {{cabinetDetail.status.powerOut}}
                  <div style="font-size: 17px; display: initial;position: fixed; top: 120px; font-family: Arial,serif;">
                    (A)
                  </div>
                </el-col>
                <el-col v-else>
                  N/A
                </el-col>
              </el-card>
            </el-col>
          </el-row>
          <div>
            <img style="margin-right: 10px; position: fixed" src="@/assets/images/gps.png"/>
            <p class="detail-text">{{ cabinetDetail.cabinet.site }}</p>
          </div>
          <div>
            <img style="margin-right: 10px; position: fixed" src="@/assets/images/clock.png"/>
            <p class="detail-text" v-if="cabinetDetail.status.id && cabinetDetail.status.timestamp !== null">
              {{parseDate(cabinetDetail.status.timestamp)}}
            </p>
            <p class="detail-text" v-else>Chưa có trạng thái</p>
          </div>
          <div>
            <span class="span-link" @click="showDetailCabinet">
              Chi tiết
              <img width="12px" style="margin-left: 5px" src="@/assets/images/arrow-circle-right.png"/>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">

import moment from "moment";

export default {
  components: {},
  props: {
    cabinetDetail: {
    }
  },
  data() {
    return {
      iconConnected: require('@/assets/images/MdiWifi.png'),
      iconDisconnected: require('@/assets/images/MdiWifiOff.png')
    }
  },
  created() {
  },
  methods: {
    parseDate(millisecond){
      return moment(millisecond).format('YYYY/MM/DD HH:mm:ss')
    },
    closePopup: function () {
      this.$emit('closeClick')
    },
    showDetailCabinet: function () {
      this.$emit('showDetail')
    }
  }
}
</script>
<style scoped>
  .el-card {
    border-radius: 10px;
  }

  .el-col {
    line-height: 50px;
  }

  .el-row {
    margin-bottom: 8px;
  }
</style>
<style>
.info-position h4 {
  background: #1f7ff5;
  padding: 10px 10px 10px 20px;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.detail-content {
  padding: 15px;
}

.el-card__body {
  height: 50px;
  padding: 0 0 0 7px;
  width: 100%;
}

.icon {
  text-align: center;
  position: fixed;
  padding-top: 12px;
  padding-left: 3px;
  display: flex;
}

.temp {
  text-align: center;
  font-family: Roboto, sans-serif !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.24px;
  color: #ff5858;
  margin: 0;
}

.humid {
  text-align: center;
  font-family: Roboto, sans-serif !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.24px;
  color: #249ffe;
  margin: 0;
}

.power {
  text-align: center;
  font-family: Roboto, sans-serif !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.24px;
  color: #ffcc00;
  margin: 0;
}

.ampere {
  text-align: center;
  font-family: Roboto, sans-serif !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.24px;
  color: #26c6da;
  margin: 0;
}

.detail-text {
  font-family: Roboto, sans-serif !important;
  padding-left: 30px;
  word-break: break-word;
}

.span-link {
  text-decoration: underline;
  cursor: pointer;
  color: #1f7ff5;
  font-family: Roboto, sans-serif !important;
}

</style>
