<template>
	<span class="search-template">
		<el-popover
        placement="bottom-start"
        title=""
        width="380"
        v-model="visible"
        :visible-arrow="false"
        :supplier-list="supplierList"
        trigger="click">
        <div class="search-form-content">
          <el-form ref="form" :model="filter">
            <el-row :gutter="10">
              <el-col>
                <div class="grid-content bg-purple">
                  <el-form-item label="Hãng sản xuất">
                    <el-select v-model="filter.supplier" placeholder="Hãng sản xuất">
                      <el-option
                          v-for="tmpType in supplierList"
                          :key="tmpType.id"
                          :label="tmpType.name"
                          :value="tmpType.name"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>
              <el-col>
                <div class="grid-content bg-purple">
                  <el-form-item label="Trạng thái hoạt động">
                    <el-select v-model="filter.status" placeholder="Trạng thái hoạt động">
                      <el-option
                          value=-1
                          label="Chưa kích hoạt"
                      >
                      </el-option>
                      <el-option
                          value=1
                          label="Kết nối"
                      >
                      </el-option>
                      <el-option
                          value=0
                          label="Mất kết nối"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>
              <el-col>
                  <div class="grid-content bg-purple">
                  <el-form-item label="Tỉnh/Thành phố" prop="provinceId">
                    <el-select v-model="filter.provinceId" placeholder="-Lựa chọn-" filterable clearable
                               @change="changeProvince()"
                               style="width: 100%;">
                      <el-option
                          v-for="item in this.provinces"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>
              <el-col>
                <el-row>
                  <div class="grid-content bg-purple">
                  <el-row :gutter="10">
                    <el-col :span="12">
                      <el-form-item label="Quận/Huyện" prop="districtId">
                        <el-select v-model="filter.districtId" placeholder="-Lựa chọn-" filterable clearable
                                   @change="changeDistrict()"
                                   style="width: 100%;">
                          <el-option
                              v-for="item in this.districts"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="Phường/Xã" prop="wardId">
                        <el-select v-model="filter.wardId" placeholder="-Lựa chọn-" filterable clearable
                                   style="width: 100%;">
                          <el-option
                              v-for="item in this.wards"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"
                          >
                          </el-option>
                        </el-select>
                  </el-form-item>
                    </el-col>
                  </el-row>

                </div>
                </el-row>
              </el-col>
            </el-row>
            <el-form-item class="action">
                <el-button type="info" @click="refresh()"><i class="el-icon-refresh"></i> Làm mới</el-button>
                <el-button type="primary" @click="search()">Áp dụng</el-button>
            </el-form-item>
          </el-form>
          </div>
        <el-button slot="reference" type="text" class="filter-icon">
          <img width="24.6px" :src="filter_icon" alt=""/>
        </el-button>
		</el-popover>
	</span>
</template>
<script type="text/javascript">
import filter_icon from '@/assets/images/filter.png';
import Resource from "@/api/resource";

const provinceResource = new Resource("cabinet/site/provinces");
const districtResource = new Resource("cabinet/site/districts");
const wardResource = new Resource("cabinet/site/wards");

export default {
  name: "filter-cabinet",
  props: {
    supplierList: null,
  },
  data() {
    return {
      filter: {
        supplier: null,
        status: null,
        provinceId: 19,
        districtId: null,
        wardId: null,
      },
      filter_icon: filter_icon,
      visible: false,
      loading: false,
      provinces: [],
      districts: [],
      wards: [],
    }
  },
  created() {

  },
  mounted() {
    this.getProvinces()
    this.getDistricts()
  },
  methods: {
    refresh() {
      this.filter = {
        supplier: null,
        status: null,
        provinceId: 19,
        districtId: null,
        wardId: null,
      }
      this.getDistricts()
      this.$emit('search', this.filter)
    },
    search() {
      this.visible = false
      this.$emit('search', this.filter)
    },
    async getProvinces() {
      const response = await provinceResource.list()
      this.provinces = response.data
    },
    async getDistricts() {
      const param = {
        provinceId: this.filter.provinceId
      }
      const response = await districtResource.list(param)
      this.districts = response.data
    },
    async getWards() {
      const param = {
        districtId: this.filter.districtId
      }
      const response = await wardResource.list(param)
      this.wards = response.data
    },
    changeProvince() {
      this.filter.districtId = null
      this.filter.wardId = null
      this.wards = []
      this.getDistricts()
    },
    changeDistrict() {
      this.filter.wardId = null
      this.getWards()
    },
  }
}
</script>
<style type="text/css" lang="scss">
.search-template {
  .el-popover__reference {
    background: initial;
    border: initial;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    bottom: 4px;
  }
}
.search-form-content {
  .el-col {
    height: 80px;
  }
  .el-form-item__label {
    padding-bottom: 0;
    font-size: 14px;
    color: #363030;
    font-weight: bold !important;
    font-family: Roboto, sans-serif !important;
  }
  .el-date-editor,
  .el-select {
    width: 100%;
  }
  .action {
    margin-top: 10px;
    margin-bottom: 20px;
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: bolder;
      width: 147px;
    }
    .el-button--primary {
      border-radius: 4px;
      background: #1f7ff5;
      color: white;
      border: 1px solid #1f7ff5;
      font-size: 16px;
      font-weight: bolder;
      width: 147px;
      float: right;
    }
  }
}
</style>
