<template>
  <div id="container-map">
    <div id="mapRoute"></div>
    <div id="popup" class="ol-popup" style="visibility: hidden">
      <detail-site ref="detailSite" v-if="cabinetDetail && cabinetDetail.cabinet.id" :cabinetDetail="cabinetDetail" @showDetail="showDetail()"
                   @closeClick="hiddenPopup()"></detail-site>
    </div>
    <detail-cabinet :cabinetDetail="cabinetDetailPanel" v-if="visible" @CloseStatus="closeStatus()"></detail-cabinet>
  </div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import Feature from "ol/Feature";
import Overlay from "ol/Overlay";
import View from "ol/View";
import {defaults as defaultControls, FullScreen} from "ol/control";
import {Tile as TileLayer, Vector as VectorLayer} from 'ol/layer';
import {Vector as VectorSource} from 'ol/source';
import XYZ from 'ol/source/XYZ';
import Point from 'ol/geom/Point';
import {Icon, Style} from 'ol/style';
import {fromLonLat, toLonLat} from 'ol/proj';
import yellow_cabinet_icon from '@/assets/images/yellow-cabinet-icon.png'
import green_cabinet_icon from '@/assets/images/green-cabinet-icon.png'
import red_cabinet_icon from '@/assets/images/red-cabinet-icon.png'
import DetailSite from "@/views/monitor/component/detailSite";
import DetailCabinet from "@/views/monitor/component/detailCabinet";
import config from '@/config'
import Resource from "@/api/resource";

const cabinetResource = new Resource("cabinet");
export default {
  name: "map-cabinet-route",
  components: {DetailCabinet, DetailSite},
  methods: {
    refreshData30S() {
      let self = this
      // load lai bao cao 30s/1
      const idInterval = setInterval(function () {
        let popTag = document.getElementById('popup');
        self.renderMap(popTag);
        self.getCabinetDetail();
      }, 30000);
      this.intervalId = idInterval
      window.localStorage.setItem("intervalId", idInterval)
      // ket thuc
    },
    async getCabinetDetail(idCabinet) {
      if (idCabinet) {
        const {data} = await cabinetResource.get(idCabinet);
        this.cabinetDetail = data
      } else {
        if (this.cabinetDetail !== null) {
          const {data} = await cabinetResource.get(this.cabinetDetail.cabinet.id);
          this.cabinetDetail = data
        }
      }
    },
    async fetchPosition() {
      this.cabinetDetail = this.cabinetSearchBySite
        if (this.cabinetDetail) {
          this.centerLatitude = this.cabinetDetail.cabinet.latitude;
          this.centerLongitude = this.cabinetDetail.cabinet.longitude
        }
        this.visible = true
        let element = document.getElementById('popup');
        element.style.visibility = 'visible';
        // this.popup.setPosition(coordinates);
    },

    initMap(googleMapLayer, iconLayer, beforePoptag) {
      document.getElementById("mapRoute").innerHTML = "";
      let divContainerMap = document.getElementById("container-map");
      let popTag = document.getElementById('popup');
      if (!popTag) {
        divContainerMap.appendChild(beforePoptag);
      }
      let popTagHover = document.getElementById('popup-hover');
      if (!popTagHover) {
        // tao id hover
        let divPopupHover = document.createElement("div");
        divPopupHover.classList.add("ol-popup");
        divPopupHover.setAttribute('id', 'popup-hover');
        divPopupHover.style.visibility = 'hidden';
        divContainerMap.appendChild(divPopupHover);
      }
      return new Map({
        target: 'mapRoute',
        controls: defaultControls().extend([new FullScreen()]),
        layers: [
          googleMapLayer,
          iconLayer
        ],
        view: new View({
          center: fromLonLat([this.centerLongitude, this.centerLatitude]),
          zoom: this.zoom,
          minZoom: this.minZoom
        })
      });
    },

    createGoogleMapLayer() {
      return new TileLayer({
        source: new XYZ({url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga'})
      });
    },

    isValidLngLat(lng, lat) {
      if (lng < -180 || lng > 180) {
        return false;
      } else if (lat < -90 || lat > 90) {
        return false;
      }
      return true;
    },

    createIconLayer(icons) {
      let vectorSource = new VectorSource({
        features: []
      });
      if (icons.length) {
        icons.forEach((icon) => {
          if (this.isValidLngLat(icon.longitude, icon.latitude)) { // long, lat
            let newFeature = new Feature({
              geometry: new Point(fromLonLat([icon.longitude, icon.latitude])),
              name: icon.id
            });
            let src = null
            if (icon.status === 0 || icon.status === -1) {
              src = red_cabinet_icon
            } else {
              if (icon.warningCount === 0) {
                src = green_cabinet_icon
              } else {
                src = yellow_cabinet_icon
              }
            }
            let iconStyle = new Style({
              image: new Icon({
                anchor: [0.5, 0.75],
                src: src,
                scale: 1.0
              }),
              // text: styleText
            });
            newFeature.setStyle(iconStyle);
            vectorSource.addFeature(newFeature);
          }
        })
      }
      return new VectorLayer({
        source: vectorSource
      });
    },

    showContentRoute(cabinet) {
      return `
          <div style="padding-left: 15px">
            <p>Tên tủ: ${cabinet.name}</p>
            <p>Vị trí: ${cabinet.site}</p>
          </div>
            `;
    },

    closeStatus() {
      this.visible = false
    },

    hiddenPopup() {
      // this.cabinetDetail = {}
      // this.visible = false
      this.popup.setPosition(undefined);
    },

    hiddenPopupHover() {
      this.popupHover.setPosition(undefined);
    },

    showDetail() {
      this.cabinetDetailPanel = Object.assign({}, this.cabinetDetail)
      this.visible = true
    },

    createOverLay() {
      let container = document.getElementById('popup');
      this.popup = new Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250,
        }
      });
      return this.popup;
    },

    createOverLayHover() {
      let container = document.getElementById('popup-hover');
      this.popupHover = new Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250,
        }
      });
      return this.popupHover;
    },

    handlePointerMove(event) {
      let pixel = this.mapInstance.getEventPixel(event.originalEvent);
      let hit = this.mapInstance.hasFeatureAtPixel(pixel);
      let center = toLonLat(this.mapInstance.frameState_.viewState.center)
      let zoom = this.mapInstance.frameState_.viewState.zoom
      this.centerLatitude = center[1]
      this.centerLongitude = center[0]
      this.zoom = zoom
      this.mapInstance.getTargetElement().style.cursor = hit ? 'pointer' : '';
    },

    async handleClickIcon(event) {
      this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(event.pixel, (feature) => {
        return feature;
      });
      if (this.selectedIcon) {
        let coordinates = this.selectedIcon.getGeometry().getCoordinates();
        let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
        if (typeSelectedFeature === 'Point') {
          let selectedId = this.selectedIcon.get('name');
          let cabinet = this.cabinets.find(x => x.id === selectedId);
          await this.getCabinetDetail(cabinet.id)
          let element = document.getElementById('popup');
          element.style.visibility = 'visible';
          this.popup.setPosition(coordinates);
        } else {
          this.hiddenPopup();
        }
      } else {
        this.hiddenPopup();
      }
    },

    handleHoverIcon(event) {
      this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(event.pixel, (feature) => {
        return feature;
      });
      if (this.selectedIcon) {
        let coordinates = this.selectedIcon.getGeometry().getCoordinates();
        let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
        if (typeSelectedFeature === 'Point') {
          let selectedId = this.selectedIcon.get('name');
          let cabinet = this.cabinets.find(x => x.id === selectedId);
          let element = document.getElementById('popup-hover');
          element.style.visibility = 'visible';
          element.innerHTML = this.showContentRoute(cabinet);
          this.popupHover.setPosition(coordinates);
        } else {
          this.hiddenPopupHover();
        }
      } else {
        this.hiddenPopupHover();
      }
    },

    renderMap(popTag) {
      let googleMapLayer = this.createGoogleMapLayer();
      let iconLayer = this.createIconLayer(this.cabinets);
      this.mapInstance = this.initMap(googleMapLayer, iconLayer, popTag);
      this.mapInstance.addOverlay(this.createOverLay());
      this.mapInstance.addOverlay(this.createOverLayHover());
      this.mapInstance.on('pointermove', this.handlePointerMove);
      this.mapInstance.on('click', this.handleClickIcon);
      this.mapInstance.on('pointermove', this.handleHoverIcon);
    },
  },
  props: {
    cabinets: Array,
    cabinetSearchBySite: Object
  },
  data() {
    return {
      // cabinets: [],
      query: {},
      mapInstance: null,
      popup: null,
      popupHover: null,
      selectedIcon: null,
      cabinetDetail: null,
      cabinetDetailPanel: null,
      zoom: 16,
      minZoom: 4,
      centerLongitude: config.map_location_default.longitude,
      centerLatitude: config.map_location_default.latitude,
      visible: false,
      intervalId: null,
      render: true
    };
  },
  created() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
    this.refreshData30S()
  },

  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
  async mounted() {
    this.query = {
      page: 1,
      size: 50,
    }
    await this.fetchPosition()
    await this.renderMap();
  },
};
</script>

<style lang="scss" scoped>
#mapRoute {
  height: calc(100vh - 67px);
}
</style>

<style>
.ol-popup {
  position: absolute;
  min-width: 300px;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  bottom: 47px;
  left: -48px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

</style>
